<% 
  disabled ||= @disabled
%>
<div class="row">
 <div class="col-12">
   <strong><%= @producto.descripcion %></strong>
 </div>  
</div>
<hr>

<%= form_with(model: @actividad, local: true)  do |form| %>
     <%= form.hidden_field :reemplazaidact, value:@idactividad_ant %> 
     <%= form.hidden_field :producto_id, value: @producto.id %>
     <%= form.hidden_field :periodo, value: '2021' %> 
     <%= form.hidden_field :personaid, value: current_usuario.persona_id %> 
     <%= form.hidden_field :estado, value:'A' %> 
     
     <div class="form-group">
         <%= form.label :titulo, "Título de la tesis:"%>
         <%= form.text_field :titulo, class:"form-control", disabled: disabled %>
     </div>
     
      <%= form.fields_for :tesista do |tesis_form| %>
        <div class="row">
              <div class="col-4">
                  <div class="form-group">
                        <%=  tesis_form.label :nivelestudio_id, "Nivel:" %>
                        <%=  tesis_form.select :nivelestudio_id, Nivelestudio.all.pluck(:nomnivel,:id), { :include_blank=>'Nivel académico'},{class:"selectize", disabled: disabled} %>
                  </div> 
               </div>  
               <% if @actividad.producto_id != 83 %>
                <div class="col-4">
                  <div class="form-group">
                     <%= tesis_form.label :ftermino, "Feha exámen:" %>
                     <%= tesis_form.date_field :ftermino, class:"form-control", disabled: disabled %>
                  </div>    
               </div> 
              <% end %> 
              <% if @actividad.producto_id == 83 %>
                <div class="col-4">
                  <div class="form-group">
                     <%= tesis_form.label :fgrado, "Obtención de grado:" %>
                     <%= tesis_form.date_field :fgrado, class:"form-control", disabled: disabled %>
                  </div>    
               </div> 
               <div class="col-4">
                  <div class="form-group">
                     <%= tesis_form.label :programa, "Programa:" %>
                     <%= tesis_form.text_field :programa, class:"form-control", disabled: disabled %>
                  </div>    
               </div>  
               <div class="col-4">
                  <div class="form-group">
                     <%= tesis_form.label :efterminal, "¿Eficiencia terminal?:" %>
                     <%= tesis_form.text_field :efterminal, class:"form-control", disabled: disabled %>
                  </div>    
               </div> 
              <% end %>
        </div> 
  
    <% end %>  
        <%= render "crud/actividad/red", form:form %>
        <%= render "crud/actividad/comprobante", form:form %>
             <div class="form-group"> 
          <strong>Autores(Participantes)</strong>
        </div> 
        <%= render "crud/actividad/autores", form:form %>
       
     <br><br>
      <% if !@disabled %>
         <div class="form-group">   
            <%= form.submit "Guardar información", data: { confirm: 'La información será enviada para validación, ¿Desea continuar?' } %>
         </div>       
      <% end %>   
<% end %>