<% 
  disabled ||= @disabled
%>
<div class="row">
 <div class="col-12">
   <strong><%= @producto.descripcion %></strong>
 </div>  
</div>
<hr>

<%= form_with(model: @actividad, html:{id:"actividadine"}, local: true)  do |form| %>
     <%= form.hidden_field :reemplazaidact, value:@idactividad_ant %> 
     <%= form.hidden_field :producto_id, value: @producto.id %> 
     <%= form.hidden_field :personaid, value: current_usuario.persona_id %> 
     <%= form.hidden_field :periodo, value: '2021' %> 
     <%= form.hidden_field :personaid, value: current_usuario.persona_id %> 
     <%= form.hidden_field :estado, value:'A' %> 

     
     <div class="form-group">
         <%= form.label :titulo, "Título:"%>
         <%= form.text_field :titulo, class:"form-control", disabled: true %>
     </div>
     <div class="row">
         <div class="col-1">
            <div class="form-group">
               <%= form.label :anio, "Año:" %>
               <%= form.text_field :anio,class:"form-control", disabled: true  %> 
            </div>    
         </div>  
         
     
         <div class="col-2">
            <div class="form-group">
               <%= form.label :monto, "Monto:" %>
               <%= form.text_field :monto,class:"form-control", disabled: true  %> 
            </div>    
         </div>  
         
     </div>
         
       
        <div class="form-group"> 
          <strong>Participantes. El porcentaje total deberá ser igual al <span style="color:red;">100%</span></strong><br>
          <I>El porcentaje se asigna al responsable del proyecto y a los participantes.</I>
        </div> 
        <%= render "crud/actividad/autores", form:form %>
       
     <br><br>
      <% if !@disabled %>
         <div class="form-group">   
            <%= form.submit "Guardar información", data: { confirm: 'Se van a realizar los cambios, ya no podrá editar la información, ¿Desea continuar?' } %>
         </div>       
      <% end %>   

<% end %>

<script>
$('body').on('keypress','.porcentaje', function(evt){
    var $txtBox = $(this);
         var charCode = (evt.which) ? evt.which : evt.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
             return false;
         else {
             var len = $txtBox.val().length;
             var index = $txtBox.val().indexOf('.');
             if (index > 0 && charCode == 46) {
               return false;
             }
             if (index > 0) {
                 var charAfterdot = (len + 1) - index;
                 if (charAfterdot > 3) {
                     return false;
                 }
             }
         }
         return $txtBox;
  }); 


$( "form#actividadine" ).submit(function( event ) {
     var sumaPorc = sumporc();
     
     if ( sumaPorc != 100.00 ){
          alert("La suma de los porcentajes de participación debe sumar 100");
          return false;
     }else{
         return true;   
    }
     
});

 function sumporc(){
    var totalp = 0;
    $(".porcentaje").each(function(){
          if(!isNaN(this.value) && this.value.length!=0) {
              totalp += parseFloat(this.value);
           }
    });
    total = totalp.toFixed(2);
    return total;
}

</script>