<% 
  disabled ||= @disabled
%>
<div class="row">
 <div class="col-12">
   <strong><%= @producto.descripcion %></strong>
 </div>  
</div>
<hr>

<%= form_with(model: @actividad, local: true)  do |form| %>
     <%= form.hidden_field :reemplazaidact, value:@idactividad_ant %> 
     <%= form.hidden_field :producto_id, value: @producto.id %> 
     <%= form.hidden_field :personaid, value: current_usuario.persona_id %> 
     <%= form.hidden_field :periodo, value: "2020" %> 
     <%= form.hidden_field :estado, value:'A' %>

     <% if current_usuario.persona_id == 64 %>
          <div class="col-4">
            <div class="form-group"> 
              <%= form.select :personaid, Persona.where("tipopersona_id in (2,3)").order(:paterno).collect{|t| [(t.paterno||'') + ' ' + (t.materno||'') + ' ' + (t.nombre||''),t.id]}, {:include_blank=>'--Seleccione un Investigador--'} ,class:"form-control" %> 
            </div>
          </div>  
      <% else %>
         <%= form.hidden_field :personaid, value: current_usuario.persona_id %> 
      <% end %>
     <!--
      <% if @action == 'newact' || @action == 'edit' %>
           <% if current_usuario.persona_id == 64 %>
              <%= form.hidden_field :estado, value:'S' %> 
           <% else %> 
              <%= form.hidden_field :estado, value:'C' %> 
            <% end %>
      <% end %> 
      -->
     <div class="form-group">
         <%= form.label :titulo, "Título o nombre de la actividad:"%>
         <%= form.text_field :titulo, class:"form-control", disabled: disabled %>
     </div>
     <div class="row">
         <div class="col-1">
            <div class="form-group">
               <%= form.label :anio, "Año:" %>
               <%= form.text_field :anio,class:"form-control", disabled: disabled  %> 
            </div>    
         </div>  
         
     </div>
         
        <%= render "crud/actividad/comprobante", form:form %>
        <div class="form-group"> 
          <strong>Autores(Participantes)</strong>
        </div> 
        <%= render "crud/actividad/autores", form:form %>
       
     <br><br>
      <% if !@disabled %>
         <div class="form-group">   
            <%= form.submit "Guardar información", data: { confirm: 'La información será enviada para validación, ¿Desea continuar?' } %>
         </div>       
      <% end %>   

<% end %>