
<table id = 'fnet' class="table stripe cell-border" style="width:100%">
        <thead>
          <tr>
              <th class="center-align">Título</th>
              <th class="center-align">Alcance</th>
              <th class="center-align">Autores</th>
              <th class="center-align">Fecha publicación</th>
              <th class="center-align">Revista</th>
              <th class="center-align">Validar</th>
              
          </tr>
        </thead>

        <tbody>
         <% @items.each do |item|
              item.each do |t|
              actividad = Actividad.where("idfnet=? and (estado<>'M' and estado<>'X')",t['IdPublicacion'])

              if actividad.empty?
         %> 
           <tr>
             <td><%= t['Titulo'] %></td>   
             <td class="center-align"><%= t['Alcance'] %></td>
             <td><%= t['Autores'] %></td>
             <td class="center-align"><%= t['FechaPublicacion'] %></td>
             <td><%= t['TituloMedio'] %></td>
             <td>
                  <i class="small material-icons">check</i>
             </td> 

           </tr>
           <% end %>
          <% end %>       
         <% end %>    
        </tbody>
</table>