


<style>
.padre{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  align-content: stretch;
  padding: 1rem;

}
.hijo {
  width: 50%;
  flex-grow: 3;
  padding: 1rem;
  
}

.hijo i {
    padding:0.1rem;
}
</style>

     <h5><i class="fas fa-layer-group fa-2x"></i> Registro de productos académicos</h5>
<hr>     

   
</div>
<section class="padre">
<% if current_usuario.rol == 'T' %>
    <div class="card">
      <div class="card-body">
          <% 
            @pasar = 0
            if @prom.to_f >= 8.5
                @pasar = 1 
          %>
             <span class="text-success text-bold"> Ya puede registrar las actividades adicionales </span>
          <% else %>
              <span class="text-danger text-bold"> No puede registrar actividades adicionales, se requiere el promedio minimo de 8.5 en la evaluación de actividades sustantivas.</span>
          <% end
              
          %>
      </div>
  </div>

  <br>
<% end %>

<% @pasar = 1  %>
    <% @categorias.each do |c| %>
           <div class="hijo">   
               <strong><%= c.nomcategoria %></strong><br>
                    <% Producto.where("prodcategoria_id = ?", c.id).order(:descripcion).each do |p| %>
                       <% if current_usuario.rol != 'I' %>
                           <!--   <i class="fas fa-angle-right"></i> <%= link_to(p.descripcion, newact_path(p.id,0), data:{turbolinks:false}) %><br> -->
                              <i class="fas fa-angle-right"></i> <%= p.descripcion %><br>

                        <% else %>
                           <% if @pasar == 1 %> 
                              <i class="fas fa-angle-right"></i> <%= link_to(p.descripcion, newact_path(p.id,@idactiv), data:{turbolinks:false}) %><br>
                           <% else %>  
                                <% if @pasar == 1 %>
                                   <i class="fas fa-angle-right"></i> <%= link_to(p.descripcion, newact_path(p.id,@idactiv), data:{turbolinks:false}) %><br>
                                <% else %>
                                  <i class="fas fa-angle-right"></i> <%= p.descripcion %><br> 
                                <% end %> 
                           <% end %>  
                        <% end %>
                    <% end %>
          </div>     

     <% end %>

</section>