<div class="card">
  <div class="card-body">
     <%= link_to "Ver detalle", tecnicoadetalle_path %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <table class='table'>
    <thead>
        <tr>
            <th>Académico</th>
            <th>Red</th>
            <th>Evaluación</th>
            <th>Red</th>
            <th>Sustantivas</th>
            <th>Adicionales</th>
        </tr>
    </thead>
    <tbody>
        <%  @listado.each do |l|
            @academico = Academico.find(l[0])
            @persona = Persona.find(@academico.persona_id) 
            @strColor = ''
            if l[1] < 8.5
            @strColor = ' text-danger'
            else
            @strColor = ''
            end
        %>
        <tr>
        <td><span class='<%= @strColor %>'><%= (@persona.paterno||'') + " " + (@persona.materno||'') + " " + (@persona.nombre||'') %></span></td>
        <td> <%= @academico.red.nomred %> </td>
        <td><span class='<%= @strColor %>'><%= l[1] %></span></td>
        <td><%= @academico.red.nomred %></td>
        <td> <%= link_to("Ver", mostraractiv_path(@academico.id), data:{turbolinks:false} ) %> </td>
        <td> <%= link_to("Ver", actividadt_path(@academico.id), data:{turbolinks:false} ) %> </td>
        </tr>
        <% end %>
    </tbody>   

    </table>
  </div>  
</div>  
<div id="modal-window_msg" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>