<div class="row">
    <div class="col-sm">
        <span class="font-weight-bold">Fecha publicacón:</span> <%= !@actividad.fechapub.blank? ? @actividad.fechapub : 'N/A'  %>
    </div> 
    <div class="col-sm">
      <span class="font-weight-bold">Volumen:</span> <%= !@actividad.articulo.volumen.blank? ? @actividad.articulo.volumen : 'N/A'  %>
    </div>   
    <div class="col-sm">
      <span class="font-weight-bold">Número:</span> <%= !@actividad.articulo.issue.blank? ? @actividad.articulo.issue : 'N/A'  %>
    </div>
    <div class="col-sm">
      <span class="font-weight-bold">Pg inicial:</span> <%= !@actividad.articulo.pgini.blank? ? @actividad.articulo.pgini : 'N/A'  %>
    </div>
    <div class="col-sm">
     <span class="font-weight-bold"> Pg final:</span> <%= !@actividad.articulo.pgfin.blank? ? @actividad.articulo.pgfin : 'N/A'  %>
    </div>
 </div>
 <div class="row">
   <div class="col-sm">
      <span class="font-weight-bold"> Revista:</span> <%= @actividad.articulo.revista.nomrevista  %>
   </div>
 </div>  
 <div class="row">
   <div class="col-sm">
     Autores: <span class="font-italic"><%= citaConIdentificacion(@actividad.id).html_safe %></span>
    </div>
 </div>
 <div class="row">
   <div class="col-sm">
     Comprobante:
    </div>
 </div>