<div class="row">
    <div class="col-sm">
        <span class="fw-bold">Fecha publicacón:</span> <%= !@actividad.fechapub.blank? ? @actividad.fechapub : 'N/A'  %>
    </div> 
    <div class="col-sm">
      <span class="fw-bold">Volumen:</span> <%= !@actividad.articulo.volumen.blank? ? @actividad.articulo.volumen : 'N/A'  %>
    </div>   
    <div class="col-sm">
      <span class="fw-bold">Número:</span> <%= !@actividad.articulo.issue.blank? ? @actividad.articulo.issue : 'N/A'  %>
    </div>
    <div class="col-sm">
      <span class="fw-bold">Pg inicial:</span> <%= !@actividad.articulo.pgini.blank? ? @actividad.articulo.pgini : 'N/A'  %>
    </div>
    <div class="col-sm">
     <span class="fw-bold"> Pg final:</span> <%= !@actividad.articulo.pgfin.blank? ? @actividad.articulo.pgfin : 'N/A'  %>
    </div>
   <div class="col-sm">
     <span class="fw-bold"> Númedo Elec.:</span> <%= !@actividad.articulo.eidentificador.blank? ? @actividad.articulo.eidentificador : 'N/A'  %>
    </div>

 </div>
 <div class="row">
   <div class="col-sm">
      <span class="fw-bold"> Revista:</span> <%= @actividad.articulo.revista.nomrevista  %>
   </div>
 </div>  

