<div class="row">
  <div class="col-md">
    <span class="fw-bold">Título:</span> <%= @actividad.titulo %>
  </div>  
  <div class="col-md">
    <span class="fw-bold">Año:</span> <%= @actividad.anio %>
   </div>  
</div>   
<div class="row">
   <div class="col-md">
      <span class="fw-bold">Página inicial:</span> <%= @actividad.capitulo.pgini %>
    </div>     
    <div class="col-md">
      <span class="fw-bold">Página final:</span> <%= @actividad.capitulo.pgfin %>
     </div> 
     <div class="col-md">
        <span class="fw-bold">Idioma:</span>
        <%= @actividad.capitulo.idioma.nomidioma %>
     </div> 
     <div class="col-md">
        <span class="fw-bold">Libro:</span>
        <%= @actividad.capitulo.libro.nomlibro %>
     </div> 
     <div class="col-md">
        <span class="fw-bold">ISBN:</label>
         <%= @actividad.capitulo.libro.isbn %>
     </div> 
</div>
