<div class="row">
    <div class="col-sm">
      <span class="fw-bold">Título del libro:</span> <%= @actividad.titulo %>
    </div>  
    <div class="col-sm">
      <span class="fw-bold">Año de publicacion:</span> <%= @actividad.anio %>
    </div>  
</div>   
<div class="row">
    <div class="col-sm">
        <span class="fw-bold">Número de páginas:</span> <%= @actividad.libroarbitrado.nopaginas %> 
    </div>    
    <div class="col-sm">
      <span class="fw-bold">Idioma:</span> <%= @actividad.libroarbitrado.idioma.nomidioma %>
   </div> 
   <div class="col-sm">
     <span class="fw-bold">ISBN:</span> <%= @actividad.libroarbitrado.isbn %>
     </div> 
</div>
