<div class="row">
    <div class="col-sm">
      <span class="font-weight-bold">Título del libro:</span> <%= @actividad.titulo %>
    </div>  
    <div class="col-sm">
      <span class="font-weight-bold">Año de publicacion:</span> <%= @actividad.anio %>
    </div>  
</div>   
<div class="row">
    <div class="col-sm">
        <span class="font-weight-bold">Número de páginas:</span> <%= @actividad.libroarbitrado.nopaginas %> 
    </div>    
    <div class="col-sm">
      <span class="font-weight-bold">Idioma:</span> <%= @actividad.libroarbitrado.idioma.nomidioma %>
   </div> 
   <div class="col-sm">
     <span class="font-weight-bold">ISBN:</span> <%= @actividad.libroarbitrado.isbn %>
     </div> 
</div>
<div class="row">
   <div class="col-sm">
     Comprobante:
    </div>
 </div>