

     <div class="row">
        <div class="col-sm">
              <label class="font-weight-bold">Título:</label>
              <%= @actividad.titulo %>
         </div>  
         <div class="col-sm">
               <label class="font-weight-bold">Año:</label>
               <%= @actividad.anio %>
         </div>  
    </div>  
     <div class="row"> 

                <% if @producto.prodgrupo.clave == 'DECRETO' %>
                     <div class="col-sm">
                       
                          <label class="font-weight-bold">Nivel:</label>
                          
                                <%  @h = @niveldecreto.invert  %>     
                                <%= @h[@actividad.vinculacion.niveldecreto] %>
                           
                      
                    </div>   
                <% end %> 
                <% if @producto.prodgrupo.clave == 'ORDENAMIENTO' %>
                     <div class="col-sm">
                      
                          <label class="font-weight-bold">Fase:</label>
                        
                               <%  @h = @ordenamiento.invert  %>     
                               <%= @h[@actividad.vinculacion.ordenamiento] %> 
                           
                    </div>   
                <% end %> 
                <% if @producto.prodgrupo.clave == 'INICIATIVA' %>
                     <div class="col-sm">
                       
                           <label class="font-weight-bold">Nivel:</label>
                          
                                 <%  @h = @niveliniciativa.invert  %>     
                                 <%= @h[@actividad.vinculacion.niveliniciativa] %>
                           
                    </div>   
                <% end %> 
                <% if @producto.prodgrupo.clave == 'REGLA' %>
                     <div class="col-sm">
                        
                          <label class="font-weight-bold">Nivel:</label>
                        
                                <%  @h = @nivelregla.invert  %>     
                                <%= @h[@actividad.vinculacion.nivelregla] %>
                         
                    </div>   
                <% end %> 
                <% if @producto.prodgrupo.clave == 'COMITE' %>
                     <div class="col-sm">
                        
                          <label class="font-weight-bold">Participación:</label>
                        
                                <%  @h = @nivelcomite.invert  %>     
                                <%= @h[@actividad.vinculacion.nivelcomite] %>
                            
                    </div>   
                <% end %> 
         </div>       
