<div class = "card">
  <div class="card-body">

    <div class="col-4">
      <div class="form-group">
        <%= label_tag 'Red:' %>
        <%= collection_select :red, :id, Red.all.order(:nomred), :id, :nomred,{ :include_blank=>'Seleccione una red'},{class:"form-control", :onchange => 'getData("red",this.value)'} %>
      </div>  
    </div>  
 
    <div class="col-4">
      <div class="form-group">
        <%= label_tag 'Investigador:' %>
        <%= select_tag(:persona, options_for_select([["-- Todos --","0"]]),{:class=>'browser-default', class:"form-control"}) %>
      </div>  
    </div> 
   
    <button type="button" class="btn btn-primary" onclick="consultar()" >Consultar</button> 
  </div>
</div>


<div class = "card">
  <div class="card-body" id="datared">
  </div>
</div>  


<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>

<div id="modal-editar" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>



<script>

 $(document).ready(function() { 
     $("#red_id").val('<%= @redid %>');
      $.ajax({
                    url: '<%= dataprod_path %>',
                    data: "redid="+  $("#red_id").val() + "&personaid=" + $("#persona").val(),
                    type: "post",
                    success: function(data){ 
                         if (data.html != 'X'){ 
                           getData("red", $("#red_id").val());
                           $("#datared").html(data.html); 
                         }
                       },
                    error: function(dayta){   }
               })
 });


function getData(fuente,id){
             $.ajax({
                    url: '<%= listapred_path %>',
                    data: "redid=" +  $("#red_id").val(),
                    type: "post",
                    success: function(data){ $("#persona").html(data);},
                    error: function(dayta){   }
               })
}

function consultar(){
              $.ajax({
                    url: '<%= dataprod_path %>',
                    data: "redid="+  $("#red_id").val() + "&personaid=" + $("#persona").val(),
                    type: "post",
                    success: function(data){ $("#datared").html(data.html); },
                    error: function(dayta){   }
               })

}
</script>