<div class="card">
  <div class="card-body">

     <%= link_to "Regresar", consultasa_path(@red,@idact) %>
  </div>  
</div> 

<% 
  if @actividad.estado == 'G'
     @mensajes = Mensaje.where("actividad_id=?",@actividad.id).order(:created_at)
  else
     @mensajes = nil
  end   
%>
<% if !@mensajes.nil? %>
  <div class="card">  
    <strong>Atender los siguientes comentarios:</strong>
    <ul>
    <% @mensajes.each do |m| %>
      <li class="text-danger"> <%= m.txt %> </li>
     <% end %>
   </ul>  
  </div>   
<% end %>     

<% if @producto.prodgrupo.clave == 'ART' || @producto.prodgrupo.clave == 'PERIODICO' %>
    <%= render partial: "validaciones/actividad/frm_actividad", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'LIB' %>
    <%= render partial: "validaciones/actividad/frm_libro", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'CAP' %>
    <%= render partial: "validaciones/actividad/frm_capitulo", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'CUR' %>
    <%= render partial: "validaciones/actividad/frm_curso", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'TESIS' %>
    <%= render partial: "validaciones/actividad/frm_tesis", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'EDREV' || @producto.prodgrupo.clave == 'EDLIB' %>
    <%= render partial: "validaciones/actividad/frm_editor", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'INT' || @producto.prodgrupo.clave == 'IND' %>
    <%= render partial: "validaciones/actividad/frm_patente", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'VINSP' %>
    <%= render partial: "validaciones/actividad/frm_vinculasp", layout: "crud/layout" %>
<% end %>
<% if @producto.prodgrupo.clave == 'VINPP' %>
    <%= render partial: "validaciones/actividad/frm_vinculapp", layout: "crud/layout" %>
<% end %>

<% if @producto.prodgrupo.clave == 'DECRETO' || @producto.prodgrupo.clave == 'ORDENAMIENTO' || @producto.prodgrupo.clave == 'INICIATIVA' || @producto.prodgrupo.clave == 'REGLA' || @producto.prodgrupo.clave == 'COMITE' %>
    <%= render partial: "validaciones/actividad/frm_vinculapp", layout: "crud/layout" %>
<% end %>

<% if @producto.prodgrupo.clave == 'OTRASD' %>
    <%= render partial: "validaciones/actividad/frm_odivulga", layout: "crud/layout" %>
<% end %>

<% if @producto.prodgrupo.clave == 'FASC' %>
    <%= render partial: "validaciones/actividad/frm_fasciculo", layout: "crud/layout" %>
<% end %>

<% if @producto.prodgrupo.clave == 'ACTIVIDAD' %>
    <%= render partial: "validaciones/actividad/frm_simple", layout: "crud/layout" %>
<% end %>

<script>

$(document).on("turbolinks:load", function(){
      $(".selectize").selectize();
})

function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    // find the new_ + "association" that was defined in Rails helper
    var regexp = new RegExp("new_" + association, "g");
  
    // find the container and append in the sub field content
    //$(link).prev().append(content.replace(regexp, new_id));
    $("#autoresl").append(content.replace(regexp, new_id));
    $(".ui-state-default").last().css( "background-color", "#FFFFA5" );
    ordenar(); 
    return false;
  }
function removeField(link) {
  $(link).prev("input[type=hidden]").val("1");
  $(link).closest(".form-row").fadeOut();
  ordenar();
}

function ordenar(){
   var i =1;  
      $( ".orden" ).each(
       function(){
        var iddestroy = this.id.replace("posicion","_destroy") 
        if ( $("#"+iddestroy).val()!= '1' ){
           this.value=i;
           i++;
         }
       }
     );
}

</script>