
$("#no<%=@idactividad%>").hide()
$("#val<%=@idactividad%>").hide()
$("#msgnocon<%=@idactividad%>").html("<span style='color:red'>No se considera: <%= @txt %></span>")
$("#anulasa<%=@idactividad%>").show()
$("#rechazar<%=@idactividad%>").hide();  
alert("Registro validado.")