


<div class="main-overview">
  <!--  
        <div class="overviewCard">
            <div class="overviewCard-icon overviewCard-icon--document">
            <i class="fas fa-newspaper"></i>
            </div>
            <div class="overviewCard-description">
            <p class="overviewCard-subtitle"> <%= link_to("Artículos Indizados", filtro_path(1)) %> </p>
            </div>
        </div>
        <div class="overviewCard">
            <div class="overviewCard-icon overviewCard-icon--calendar">
            <i class="fas fa-book"></i>
            </div>
            <div class="overviewCard-description">
            <p class="overviewCard-subtitle"><%= link_to("Libros, Capítulos y Editor", filtro_path(2)) %></p>
            </div>
        </div>
        <div class="overviewCard">
            <div class="overviewCard-icon overviewCard-icon--photo">
           <i class="fas fa-book-reader"></i>
            </div>
            <div class="overviewCard-description">
            <p class="overviewCard-subtitle"><%= link_to("Divulgación", filtro_path(3)) %></p>
            </div>
        </div>
        --> 
        <%
            total = Sustantiva.where("investigadorid=? and anio=2020",current_usuario.persona_id).count
            if total.to_i > 0    
        
        %>
                <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--evaltec">
                <i class="fas fa-spell-check"></i>
                </div>
                <div class="overviewCard-description">
                <p class="overviewCard-subtitle"><%= link_to("Evaluación de Técnicos", evaltecnico_path, data:{turbolinks:false}) %></p>
                </div>
            </div>
        <% end  %>
       
         <% if   current_usuario.rol == 'C' %>
            <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--red">
                <i class="fas fa-project-diagram"></i>
                </div>
                <div class="overviewCard-description">
                <p class="overviewCard-subtitle"><%= link_to("Productos por red", validared_path) %></p>
                </div>
            </div> 
          <% end %>

        </div>
    
        <div class="main__cards">
        <div class="card">
            <div class="card__header">
            <div class="card__header-title text-light">Productos (últimos registros) 
                <a href="#" class="card__header-link text-bold"><%= link_to("Ver todo", actividades_path, data:{turbolinks:false}) %></a>
            </div>
            </div>

            <div class="card__main">
                <% @actividades.each do |a| 
                    autores = a.autores.order(:posicion)
                    @str = ""
                    idreporta = ''
                    i=0
                    autores.each do |p|
                        if i > 0  
                          simbolo = ", " 
                        else
                          simbolo = "" 
                        end
                         if !p.firma.present?
                             @str = @str + simbolo + (p.persona.paterno||"") + "," + (p.persona.nombre||"")
                         else
                             @str = @str + simbolo + (p.firma||"")
                         end     
                       i = i+1
                    end
                    
                %>
                        <div class="card__row">
                            <div class="card__icon"><i class="fas fa-book"></i></div>
                            <div class="card__time">
                            <div><%= a.producto.prodgrupo.nomgrupo %></div>
                            </div>
                            <div class="card__detail">
                            <div class="card__source text-bold"> <%= link_to(a.titulo, actividad_path(a.id), data:{turbolinks:false}) %> </div>
                            <div class="card__description"><%= @str %></div>
                             <div class="card__note"></div>
                            </div>
                        </div>
                <% 
                 end %>        
                       
            </div>
        </div>
        <% if current_usuario.persona_id != 101  %>
        <!--
            <div class="card">
                <div class="card__header" style="background-color:#740202;">
                <div class="card__header-title text-light"><strong>Presupuesto Operativo y Estímulo 2019</strong>
                    
                </div>
                </div>
                <div class="card p-2">
                <%
                monto_esti = Estimulo.where(:persona_id=>current_usuario.persona_id).first
                %> 
                <table class="table">
                <tbody>
                    <tr>   
                    <td>Presupuesto Operativo: <%= link_to("Ver listado", presupuesto_path, data:{turbolinks:false}) %></td>
                    </tr>
                    <tr>   
                    <td>Estímulo: <strong>
                       
                    </strong> </td>
                    </tr>
                </tbody>     
                </table>  
                </div>
            </div>
         -->   
        <% end %>

        <div class="card card--finance">
            <div class="card__header">
            <div class="card__header-title text-light">Histórico
                <a href="#" class="card__header-link text-bold"></a>
            </div>
            </div>
            <div id="chartdiv">
                       <div class="list-group">
                            <% if current_usuario.rol == "I" || current_usuario.rol == "C" %> 
                                    <%= link_to datahistory_path(2019), class:"list-group-item list-group-item-action", data:{turbolinks:false} do %>
                                        <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Productos académicos 2019</h5>
                                        <small class="text-success" ><b>Disponible</b></small>
                                        </div>
                                    <% end %>
                                    <%= link_to histoconsultar_path, class:"list-group-item list-group-item-action", data:{turbolinks:false} do %>
                                        <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Productos académicos 2018</h5>
                                        <small class="text-success" ><b>Disponible</b></small>
                                        </div>
                                    <% end %>
                            <% else %>     
                                    <%= link_to historico_path(2018), class:"list-group-item list-group-item-action", data:{turbolinks:false} do %>
                                        <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Productos académicos 2018</h5>
                                        <small class="text-danger" ><b>Carga de datos: en proceso...</b></small>
                                        </div>
                                    <% end %>   
                            <% end %>        
                            <%= link_to datahistorico_path, class:"list-group-item list-group-item-action", data:{turbolinks:false} do %>
                                <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Productos académicos 2017</h5>
                                 <small class="text-success" ><b>Disponible</b></small>
                                </div>
                            <% end %>   
                            
                        </div>   
            
            </div>
        </div>
        </div> <!-- /.main-cards -->
