<style>
.box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 90%;
}

 .redtxt{
   font-size: 16px;
   font-weight: bold;
   margin-top: 10px;
}  
.dattable{
   justify-content: left;
   align-items: left;
}

.itemsdata{
   display: flex;
   flex-direction: column;
   width: 80%;
}
.itemdata{
   display: flex;
   flex-direction: row;
   margin-left: 15px;
}
.itemdata_num{
  width: 6%;
}
.itemdata_ac{
   width: 47%;
}
.itemdata_opt{
  width: 47%;
}
.completa{
   color:grey;
}

</style>

<div class="box">
   <%  
       @redes.each do |r|
   %>

        <div class="redtxt"> 
            <%= r.nomred %>
         </div>
      
         <%
            @academicos = Academico.where(red_id:r.id)
            @i = 0
            @academicos.each do |a|  
              if (a.persona.tipopersona_id == 2 || a.persona.tipopersona_id == 3) && a.persona.estado == 'A'
                @i += 1
         %>
               <div class="itemsdata">       
                  <div class="itemdata">
                     <div class="itemdata_num"><%= @i.to_s + "." %></div>
                     <div class="itemdata_ac"><%= (a.persona.paterno||'') + ' ' + (a.persona.materno||'') + ' ' + (a.persona.nombre||'') %></div>
                     <div class="itemdata_opt"> <%= link_to "Ver productos", vistalista_path(a.persona.id) %> </div>  
                     <div class="itemdata_opt" id="persona<%= a.persona.id %>"> 
                        <% if a.persona.evaluacion == 'N' || a.persona.evaluacion.nil? %>
                          <%= link_to "Validación completa", valcompleta_path(a.persona.id), remote:true, class:"completa" %> 
                        <% else %>  
                             <i class="fas fa-check-double text-success"></i><b style="color:green;"> Validado</b>
                        <% end %>
                     </div>  
                     <div class="itemdata_opt"> <%= link_to "Historico", historicop_path(a.persona.id,'H'), target:"_blank" %> </div>  
                  </div> 
               </div> 

              <% end %>
            <% end %>

   <% end %>
    
</div>