
<div class="col-1">
<%= link_to("<-- Regresar", 'javascript:history.back()', class:"dropdown-item", data: {turbolinks:false}) %>
</div>

<div class="card">
  <div class="card-body">
    <table class='table'>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Evaluación</th>
            <th>Red</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%  @listado.each do |l|
            @academico = Academico.find(l[0])
            @persona = Persona.find(@academico.persona_id) 
            @strColor = ''
            if l[1] < 8.5
            @strColor = ' text-danger'
            else
            @strColor = ''
            end
        %>
        <tr>
        <td><span class='<%= @strColor %> text-bold'><%= (@persona.paterno||'') + " " + (@persona.materno||'') + " " + (@persona.nombre||'') %></span></td>
        <td><span class='<%= @strColor %>'><%= l[1] %></span></td>
        <td><%= @academico.red.nomred %></td>
        <td>  </td>
        </tr>
        <tr>
          <td colspan='4'>
            <table class="table table-sm table-bordered">
                 <thead  class="thead-dark">
                   <tr>
                      <th class="text-center">Folio</th>
                      <th class="text-center">Producto</th>
                      <th class="text-center">Título</th>
                      <!--<th class="text-center">Participantes</th>-->
                      <th class="text-center">Captura</th>
                      <th class="text-center">Validación-Comité</th> 
                      <th class="text-center">Aceptado</th>
                   </tr>
                 </thead>
                 <tbody>
                  <% 
                     Autor.where(:persona_id=>@persona.id).each do |u|
                     @a = Actividad.find(u.actividad_id)
                      

                     #fcaptura = !@a.created_at.nil? ? @a.created_at.strftime("%d-%m-%Y") : ""
                     #fvobo = !@a.fecha1.nil? ? @a.fecha1.strftime("%d-%m-%Y") : ""
                     #fcm = !@a.fecha3.nil? ? @a.fecha3.strftime("%d-%m-%Y") : ""
                     #fsa = !@a.fecha3.nil? ? @a.fecha3.strftime("%d-%m-%Y") : ""
                     #facp = !@a.faceptado.nil? ? @a.faceptado.strftime("%d-%m-%Y") : ""

                     fcaptura = !@a.created_at.nil? ? @a.created_at.strftime("%d-%m-%Y") : ""
                     fvobo = !@a.fecha1.nil? ? @a.fecha1.strftime("%d-%m-%Y") : ""
                     fcm = !@a.fecha2.nil? ? @a.fecha2.strftime("%d-%m-%Y") : ""
                     fsa = !@a.fecha3.nil? ? @a.fecha3.strftime("%d-%m-%Y") : ""
                     facp = !@a.faceptado.nil? ? @a.faceptado.strftime("%d-%m-%Y") : ""
                     
                     if @a.personaid == @persona.id && @a.estado == 'S'         
                     
                        #if  facp == ""
                        #    facp = fsa
                        #end
                        
                        if @a.producto_id == 82 || @a.producto_id == 83 || @a.producto_id == 81 || @a.producto_id == 85
                           fcm = @a.created_at.strftime("%d-%m-%Y")
                        end
                        

                        if @a.periodo == 2023

                  %>
                                <tr> 
                                <td><%= @a.id %></td> 
                                <td><%= @a.producto.descripcion %></td>
                                <td>
                                  <!-- <%= link_to @a.titulo, datadetalle_path(@a.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>-->
                                  <%= @a.titulo %>
                                  <%= link_to "Ver detalle...", verproductofl_path(@a.id, @persona.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'style'=>'text-decoration: none;'}  %>
                                        <div>        
                                               <% if @a.producto_id == 82
                                                        autor = Autor.where(actividad_id:a.id,persona_id:@persona.id).first  
                                                %>
                                                         <div style="font-size:14px; margin-left:10px;">  
                                                            <% if autor.posgradoc.attached? %> 
                                                                 <%= link_to 'Comprobante', rails_blob_path(autor.posgradoc, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                            <% end %>
                                                        </div>   
                                                <% elsif @a.producto_id == 83 %>
                                                           <% if @a.tesisdoc.attached? %> 
                                                                <div style="font-size:14px; margin-left:10px;">
                                                                    Acta de exámen: <%= link_to "Comprobante", rails_blob_path(@a.tesisdoc, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                                </div>    
                                                            <% end %>
                                                            
                                                            <% if @a.tesisportada.attached? %> 
                                                                    <div style="font-size:14px; margin-left:10px;">
                                                                        Portada de la tesis: <%= link_to "Comprobante", rails_blob_path(@a.tesisportada, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                                    </div>    
                                                            <% end %>
                                                            
                                                            <% if @a.tesiscarta.attached? %> 
                                                                    <div style="font-size:14px; margin-left:10px;"> 
                                                                        Asignación <%= link_to "Comprobante", rails_blob_path(@a.tesiscarta, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                                    </div>    
                                                            <% end %>
                                                <% else %> 
                                                        <% if @a.documentos.attached? %> 
                                                            <div style="font-size:14px; margin-left:10px;">  
                                                                <% @a.documentos.each do |d|%>
                                                                    <%= link_to rails_blob_path(d, disposition: "inline"),  {target: '_blank', 'style':'text-decoration: none;'} do %>
                                                                        <i class="fas fa-file-pdf iconsize"></i> Comprobante
                                                                    <% end %>
                                                                <% end %>
                                                            </div>
                                                        <% end %> 
                                                        <% if @a.enlacedoc.attached? %> 
                                                            <div style="font-size:14px; margin-left:10px;">  
                                                                <%= link_to "Comprobante", rails_blob_path(@a.enlacedoc, disposition: "inline"), { target: '_blank' } %>
                                                            </div>    
                                                        <% end %>
                                                <% end %>  
                                        </div>
                                                                              
                                </td>
                                <!--<td><%= cita(@a.id).html_safe %></td>-->
                                <td><%= fcaptura %></td>
                                <td id="td<%= @a.id %>" class="text-center">
                                  <!--
                                    <% if @a.estado == 'S' %>
                                        <span class="text-success">Validado</span>
                                    <% end %> 
                                  -->  
                                    
                                    <strong><%=  fcm %> </strong> 
                                </td>
                                <td class="text-center">
                                   
                                      <!--  <i class="fas fa-user-check fa-1x text-success"></i>-->
                                       <% 
                                                if !@a.fecha3.nil?
                                                            f_acep = @a.fecha3.strftime("%d-%m-%Y")
                                                            f_dia = f_acep.split('-')[0]
                                                            f_mes = f_acep.split('-')[1]
                                                            f_anio = f_acep.split('-')[2]
                                                            date = DateTime.new(f_anio.to_i, f_mes.to_i, f_dia.to_i).next_day(rand(4)).strftime("%d-%m-%Y")
                                                            #d = Evaluacion.where(persona_id:@persona.id).first 
                                                            #if !d.nil? 
                                                            #       f_acep = d.fecha.strftime("%d-%m-%Y") 
                                                            #else
                                                            #       f_acep = 'N/A'
                                                            #end
                                                else
                                                            date = fcm
                                                end    
                                       %>
                                        <strong><%= 
                                                facp
                                        %> </strong>
                                </td>
                                </tr>  
                                <tr id="drw<%= @a.id %>" style="display:none;">
                                    <td colspan='2'></td>
                                    <td id="data<%= @a.id %>"> 
                                    </td>
                                    <td colspan="3"></td>
                                </tr>  
                            <%    end  
                                end
                               end
                            %>
                            <% Autor.where(:persona_id=>@persona.id).each do |u| 
                                @actividad = Actividad.find(u.actividad_id)
                                #fcaptura = !@actividad.created_at.nil? ? @actividad.created_at.strftime("%d-%m-%Y") : ""
                                #fvobo = !@actividad.fecha1.nil? ? @actividad.fecha1.strftime("%d-%m-%Y") : ""
                                #fcm = !@actividad.fecha3.nil? ? @actividad.fecha3.strftime("%d-%m-%Y") : ""
                                #fsa = !@actividad.fecha3.nil? ? @actividad.fecha3.strftime("%d-%m-%Y") : ""
                                #facp = !@actividad.faceptado.nil? ? @actividad.faceptado.strftime("%d-%m-%Y") : ""
                                 fcaptura = !@a.created_at.nil? ? @a.created_at.strftime("%d-%m-%Y") : ""
                                 fvobo = !@a.fecha1.nil? ? @a.fecha1.strftime("%d-%m-%Y") : ""
                                 fcm = !@a.fecha2.nil? ? @a.fecha2.strftime("%d-%m-%Y") : ""
                                 fsa = !@a.fecha3.nil? ? @a.fecha3.strftime("%d-%m-%Y") : ""
                                 facp = !@a.faceptado.nil? ? @a.faceptado.strftime("%d-%m-%Y") : ""
                                 
                                if @actividad.personaid != @persona.id && @actividad.estado == 'S'

                                    if @actividad.producto_id == 82 || @actividad.producto_id == 83 || @actividad.producto_id == 81 || @actividad.producto_id == 85
                                        fcm = @actividad.created_at.strftime("%d-%m-%Y")
                                    end

                                    if @actividad.periodo == 2023
                            %> 
                                <tr class="">
                                    <td><%= @actividad.id %></td> 
                                    <td><%= @actividad.producto.descripcion %></td>
                                    <td>
                                      <!--  <%= link_to @actividad.titulo, datadetalle_path(@actividad.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %> -->
                                       <%= @actividad.titulo %>       
                                       <%= link_to "Ver detalle...", verproductofl_path(@actividad.id, @persona.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'style'=>'text-decoration: none;'}  %>        
                                            
                                               <% if @actividad.producto_id == 82
                                                        autor = Autor.where(actividad_id:@actividad.id,persona_id:@persona.id).first
                                                %>
                                                      <div style="font-size:14px; margin-left:10px;">  
                                                          <% if autor.posgradoc.attached? %> 
                                                               <%= link_to "Comprobante", rails_blob_path(autor.posgradoc, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                          <% end %>
                                                      </div>  
                                                <% elsif @actividad.producto_id == 83 %>
                                                                <% if @actividad.tesisdoc.attached? %> 
                                                                    <div style="font-size:14px; margin-left:10px;">
                                                                        Acta de exámen: <%= link_to "Comprobante", rails_blob_path(@actividad.tesisdoc, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                                    </div>    
                                                                <% end %>
                                                                
                                                                <% if @actividad.tesisportada.attached? %> 
                                                                        <div style="font-size:14px; margin-left:10px;">
                                                                            Portada de la tesis: <%= link_to "Comprobante", rails_blob_path(@actividad.tesisportada, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                                        </div>    
                                                                <% end %>
                                                                
                                                                <% if @actividad.tesiscarta.attached? %> 
                                                                        <div style="font-size:14px; margin-left:10px;"> 
                                                                            Asignación <%= link_to "Comprobante", rails_blob_path(@actividad.tesiscarta, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                                                        </div>    
                                                                <% end %>
                                                <% else %> 
                                                        <% if @actividad.documentos.attached? %> 
                                                            <div style="font-size:14px; margin-left:10px;">  
                                                                <% @actividad.documentos.each do |d|%>
                                                                    <%= link_to rails_blob_path(d, disposition: "inline"),  target: '_blank' do %>
                                                                        <i class="fas fa-file-pdf iconsize"></i> Comprobante
                                                                    <% end %>
                                                                <% end %>
                                                            </div>
                                                        <% end %> 
                                                        <% if @actividad.enlacedoc.attached? %> 
                                                            <div style="font-size:14px; margin-left:10px;">  
                                                                <%= link_to "Comprobante", rails_blob_path(@actividad.enlacedoc, disposition: "inline"), { target: '_blank' } %>
                                                            </div>    
                                                        <% end %>
                                                <% end %>  

                                    </td>
                                   <!-- <td><%= cita(@actividad.id).html_safe %></td> -->
                                    <td><%= fcaptura %></td>
                                    <td id="td<%= @actividad.id %>" class="text-center">
                                    <!--
                                    <% if @actividad.estado == 'S' %>
                                        <span class="text-success">Validado</span>
                                    <% end %>
                                    --> 
                                    <strong><%= fcm %> </strong> 
                                </td>
                                <td class="text-center">
                                   
                                       <!-- <i class="fas fa-user-check fa-1x text-success"></i>-->
                                        <% 
                                            if !@actividad.fecha3.nil?
                                                        f_acep = @actividad.fecha3.strftime("%d-%m-%Y")
                                                        f_dia = f_acep.split('-')[0]
                                                        f_mes = f_acep.split('-')[1]
                                                        f_anio = f_acep.split('-')[2]
                                                        date = DateTime.new(f_anio.to_i, f_mes.to_i, f_dia.to_i).next_day(rand(3)).strftime("%d-%m-%Y")
                                            else
                                                        date = fcm
                                            end    
                                       %>
                                        <strong><%= 
                                                facp
                                        %> </strong>
                                </td>
                                </tr>
                                <tr id="drw<%= @actividad.id %>" style="display:none;">
                                    <td colspan='2'></td>
                                    <td id="data<%= @actividad.id %>"> 
                                    </td>
                                    <td colspan="3"></td>
                                </tr>  
                              <% end %>   
                          <% end %>
                       <% end %>  

                 </tbody> 
            </table>   
          </td>  
        </tr>
        <% end %>
    </tbody>   

    </table>
  </div>  
</div>  
<div id="modal-window_msg" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>

<script>
   function cerrar(id){
        var el = document.getElementById("drw"+id);
        el.style.display='none';
   }
</script>