<div class="row p-2">
  <div class="col-4">
    <strong class="text-primary">Investigador: <%= @nombrc %></strong>
  </div> 
   
  <div class="col-6">
     <%= link_to "Regresar", :back, data: {turbolinks:false} %>
  </div>
 
</div>

<div class="card p-3">
  <div class="card-body">
  <div class="table-responsive-lg"> 
    <b>CR = Coordinador de Red | SA = Secreataría Académica</b>
    <table class='table table-sm table-striped table-bordered w-auto'>
    <thead>
        <tr>
            <th class="text-center th-sm">Folio</th>
            <th class="text-center th-sm">Producto</th>
            <th class="text-center th-sm">Título</th>
            <!--<th class="text-center th-sm">Autores</th>
            <th class="text-center th-sm">Año</th>-->
            <th class="text-center">Captura</th>
            <th class="text-center th-sm">Fecha CR</th>
            <th class="text-center th-sm">Fecha SA</th>
           <!--  <th class="text-center th-sm">Estatus</th> -->
            <th class="text-center th-sm">Aceptado</th>


        </tr>
    </thead>
    <tbody id='titulos'> 
    <%  
    @actividad.each do |a|
    @msg = ''
    producto = Producto.find(a.producto_id)
    fcaptura = !a.created_at.nil? ? a.created_at.strftime("%d-%m-%Y") : ""
    fcr = !a.fecha2.nil? ? a.fecha2.strftime("%d-%m-%Y") : ""
    fsa = !a.fecha3.nil? ? a.fecha3.strftime("%d-%m-%Y") : ""
    facp = !a.faceptado.nil? ? a.faceptado.strftime("%d-%m-%Y") : ""

     if [81,82,83,85].include?(producto.id) 
         fcr = fcaptura
         fsa = fcaptura
     end
   

    if a.estado == 'W'
        Autor.where("actividad_id=#{a.id}").each do |p|
            if p.filiacion == 'F'
                persona = Persona.find(p.persona_id)
                @msg = @msg + "<br>" + (persona.paterno||'') + " " + (persona.materno||' ') + (persona.nombre||' ') + " (ver nota)"
            end
        end
    end

   if producto.prodgrupo.clave != 'ACTIVIDAD' 

    %>

    <tr id="info<%= a.id %>">
        <td class="text-center"><%= a.id %></td>
        <td id="desc<%= a.id %>" style="width:15%;"><%= a.producto.descripcion %>  </td>
        <td style="width:30%;">
          <!--  <%= link_to a.titulo, datadetalle_path(a.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>-->
            <%= a.titulo %>       
            <%= link_to "Ver detalle...", verproductofl_path(a.id, @persona.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'style'=>'text-decoration: none;'}  %>        
                <% if a.producto_id == 82
                          autor = Autor.where(actividad_id:a.id,persona_id:@persona.id).first
                %>
                            <div style="font-size:14px; margin-left:10px;">  
                                <% if autor.posgradoc.attached? %> 
                                   <%= link_to 'Comprobante', rails_blob_path(autor.posgradoc, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                <% end %>
                            </div>    
                            
                <% elsif a.producto_id == 83 %>
                               <% if a.tesisdoc.attached? %> 
                                    <div style="font-size:14px; margin-left:10px;">
                                        Acta de exámen: <%= link_to "Comprobante", rails_blob_path(a.tesisdoc, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                    </div>    
                                <% end %>
                                
                                <% if a.tesisportada.attached? %> 
                                        <div style="font-size:14px; margin-left:10px;">
                                            Portada de la tesis: <%= link_to "Comprobante", rails_blob_path(a.tesisportada, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                        </div>    
                                <% end %>
                                
                                <% if a.tesiscarta.attached? %> 
                                        <div style="font-size:14px; margin-left:10px;"> 
                                            Asignación <%= link_to "Comprobante", rails_blob_path(a.tesiscarta, disposition: "inline"), { target: '_blank', 'style':'text-decoration: none;' } %>
                                        </div>    
                                <% end %>
                <% else %> 
                        <% if a.documentos.attached? %> 
                            <div style="font-size:14px; margin-left:10px;">  
                                <% a.documentos.each do |d|%>
                                    <%= link_to rails_blob_path(d, disposition: "inline"),  {target: '_blank', 'style':'text-decoration: none;'} do %>
                                        <i class="fas fa-file-pdf iconsize"></i> Comprobante
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %> 
                        <% if a.enlacedoc.attached? %> 
                             <div style="font-size:14px; margin-left:10px;">  
                                 <%= link_to "Comprobante", rails_blob_path(a.enlacedoc, disposition: "inline"), { target: '_blank' } %>
                             </div>    
                        <% end %>
                <% end %>  


     
        </td>
       <!--  <td style="width:20%;"><%= cita(a.id).html_safe %>
            <% if !@msg.nil? %>
            <span class="text-danger"><%= @msg.html_safe %></span> 
            <% end %>
        
        </td>
        <td class="text-center"><%= a.anio %></td>-->
        <td class="text-center"><%= fcaptura %></td>
        <td class="text-center"><%= fcr %></td>
        <td class="text-center"><%= fsa %></td> 
        <!-- <td id="td<%= a.id %>">
                <% if a.estado == 'C' %>
                    <span class="text-primary"> Sin validar </span>
                <% end %>    
                <% if a.estado == 'S' %>
                    <span class="text-success">Validado</span>
                <% end %> 
                <% if a.estado == 'Z' %>
                    <i class="fas fa-times fa-1x text-danger"></i> <span class="text-danger">
                    <%= link_to "No se considera o modificar. Ver motivo", datamsg_path(a.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window_msg'}  %>
                <% end %>   
                <% if a.estado == 'W' %>
                    <span class="text-success"> Validado. </span>
                    <%= link_to "Ver Nota", datamsg_path(a.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window_msg'}  %>
                <% end %>    
           
        </td> -->
       
        <td class="text-center">
              <% 
                  #if !a.fecha3.nil?
                  #          f_acep = a.fecha3.strftime("%d-%m-%Y")
                  #          f_dia = f_acep.split('-')[0]
                  #          f_mes = f_acep.split('-')[1]
                  #          f_anio = f_acep.split('-')[2]
                  #          date = DateTime.new(f_anio.to_i, f_mes.to_i, f_dia.to_i).next_day(3).strftime("%d-%m-%Y")
                            #d = Evaluacion.where(persona_id:@persona.id).first 
                            #if !d.nil? 
                            #       f_acep = d.fecha.strftime("%d-%m-%Y") 
                            #else
                            #       f_acep = 'N/A'
                            #end
                 #else
                            #date = fcr
                 #end           
              %>
                    <strong><%= 
                            facp
                    %> </strong>
        </td>
       
    </tr>
    <tr id="drw<%= a.id %>" style="display:none;">
        <td></td>
        <td colspan="5" id="data<%= a.id %>"> 
           
        </td>
        <td></td>
    </tr> 
    <%        
    end
   end 
    %>
    </tbody> 
    </table>
   </div> 
  </div>
 </div> 


<div id="modal-window_msg" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>

<div id="modal-editar" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content"></div>
   </div>
</div>

<script>
   function cerrar(id){
        var el = document.getElementById("drw"+id);
        el.style.display='none';
   }
</script>