<%= link_to("<-- Regresar", 'javascript:history.back()', class:"dropdown-item", data: {turbolinks:false}) %>


<div class="card">
  <div class="card-body">
   <strong class="text-danger">Técnico: <%= @t %></strong>
   <table class="table"> 
     <thead> 
       <tr>
          <th>En conlaboración con</th>
          <th>Actividad</th>
          <th>Participación(%)</th>
          <th>Calf. Calidad</th>
          <th>Calf. Eficiencia</th>
          
       </tr>
     </thead>

     <tbody>
         <% @sust.itemsustantivas.each do |s|
            #@tot_cal = @tot_cal + s.calidad
            #@tot_efi = @tot_efi + s.eficiencia 
            @invest = Persona.find(s.persona_id)
            @caldiad = !s.calificaciones.where(tipo:'CA').first.nil? ?  s.calificaciones.where(tipo:'CA').first.calificacion : 0.0
            @efic = !s.calificaciones.where(tipo:'EF').first.nil? ?  s.calificaciones.where(tipo:'EF').first.calificacion : 0.0
         %>
           <tr>
              <td><%= (@invest.paterno||'') + " " + (@invest.materno||'') + " " + (@invest.nombre||'') %></td>
              <td><%= s.descripcion  %> </td>
              <td><%= s.porcentaje  %> </td>
              <td>
                   <%= @caldiad %>
              </td>
              <td>
                   <%= @efic %>
              </td>
           </tr> 
         <% end %>
       </tbody>
       
  </table>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <strong>Evaluación (ver página 49 y 58 de los lineamientos)</strong><br>
    <strong>Total actividades evaluadas: <%= @tot_act %>, Evaluación: <%= @prom %></strong>. 
    <% if @prom.to_i >= 8.5 %>
     <!--   <span class="text-success text-bold"> Ya puede registrar las actividades adicionales </span>  -->
    <% else %>
    <!--    <span class="text-danger text-bold"> No puede registrar actividades adicionales, se requiere el promedio minimo de 8.5 </span>  -->
    <% end %>
  </div>
 </div>