<h3>Puntajes</h3>
<p>Producción <%= params[:anio] %></p>

<div class="d-flex justify-content-center">
          <table class="table" style="width:80%;">
          <thead>
          <tr>
                    <th class="text-center">Folio</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Titulo</th>
                    <!-- <th class="text-center">Ptos. del Produto</th> -->
                    <th class="text-center">Ptos. por participación</th>
          </tr>
          </thead>

          <tbody>
               <% @puntos.each do |p| 
                    actividad = Actividad.find(p.actividad_id)
               %>
                    <tr class="active">
                         <td> <strong><%= p.actividad_id %></strong> </td>
                         <td> <%= actividad.producto.descripcion %> </td>
                         <td> <%= link_to actividad.titulo, actividades_actividad_path(actividad.id) %> </td>
                        <!-- <td class="text-center"> <%= p.ptprod %> </td> -->
                         <td class="text-center"> <%= p.pt %> </td>
                    </tr>
                    <tr>
                         <td colspan="5">
                              
                                <div class="col-10">
                                 <div class="d-flex justify-content-center">
                                        <div><strong>Coautoria o participantes</strong></div> 
                                             <table  class="table" style="width:50%;"> 
                                                       
                                                       <tr>
                                                            <th> Nombre </th>
                                                            <% if actividad.producto_id != 9 && actividad.producto_id != 82 %>
                                                                    <th> Porcentaje </th>
                                                            <% end %> 
                                                            <th> Puntos </th>
                                                       </tr>

                                                       <%
                                                            data = Punto.where(actividad_id:p.actividad_id)
                                                            data.each do |d|
                                                                 autor = Persona.find(d.persona_id)
                                                       %>
                                                                 <tr>
                                                                      <td > <%= (autor.nombre||'') + ' ' + (autor.paterno||'') + ' ' + (autor.materno||'') %> </td>
                                                                      <% if actividad.producto_id != 9 && actividad.producto_id != 82 %>
                                                                            <td class="text-center"> <%= d.porcentaje %> </td>
                                                                      <% end %>   
                                                                      <td class="text-center"> <%= d.pt %> </td>
                                                                 </tr>
                                                       <% end %>
                                             </table>     
                                        </div>     
                              </div>  
                              
                         </td>
                    </tr>
               <% end %>    
          </tbody>


          </table>
</div>