
        <table class="table table-sm  <%= !data.any? ? 'text-muted font-italic' : ''  %>  "> <!-- tabla_items -->
        <thead>
            <tr>
            <th class="text-center">Folio </th>
            <th class="text-center">Producto</th>
            <th class="text-center">Título</th> 
            <th class="text-center">Responsable</th>
            <th class="text-center">VoBo SA</th>
            </tr>
        </thead>
        <tbody>
        <%  
           if data.any? 
             data.each do |a|
             idx = idpersona.to_s + "_" + a.id.to_s
             @tritem = "tritem_" + idx
             @trval = "trval_" + idx
        %>
                <tr id="<%= @tritem %>">  <!-- tr_item  -->
                    <td class="col-1 text-center"> <%= a.id %> </td>
                    <td class="col-md-2"> <%= a.producto.descripcion %> </td>
                    <td class="col-md-4"> <div class="d-flex justify-content-between"> <%= a.titulo %> </div> </td>
                    <td class="col-2"> <%= reporta(a.personaid) %> </td>
                    <td class="col-1"> 
                        <%= render "estadoval", a:a %>
                    </td>
                </tr>

                <tr id="<%= @trval %>" style="display:none;"> <!-- tr_valida -->
                  <td colspan="5">
                    <%= render "valactividades/gui/target_info" %> <!-- target_info -->
                  </td>  
                </tr>               

             <% end %>
          <% else %>
           <tr><td colspan="5"><span class="badge badge-warning font-italic">Sin actividades</span><td></tr>
          <% end %>   

        </tbody>
        </table>