<div class="row">
    <div class="col">
       
    <% if (actividad.producto_id == 22 || actividad.producto_id == 39 || actividad.producto_id == 82 || actividad.producto_id == 83)  && ( actividad.fuente == 'V' || actividad.fuente == 'P' ) %>
        <% if [22,39].include? actividad.producto_id %>
                <% if actividad.enlacedoc.attached? && actividad.fuente == 'V' %>
                    <div class="d-flex ">
                        <%= link_to rails_blob_path(actividad.enlacedoc, disposition: 'inline'), { target: '_blank' } do %>
                               <small> <i class="fas fa-file-pdf"></i> Comprobante </small>
                        <% end %>
                    </div>  
                <% else %>
                  <div class="d-flex ">
                     <% actividad.documentos.each do |d|%>
                          <div id="doc<%= d.id %>" class="ml-md-3">
                              <small><%= link_to "Comprobante", rails_blob_path(d, disposition: "inline"), { target: '_blank' } %></small>
                          </div>
                     <% end %>   
                   </div>  
                <% end %>      
        <% end %>
        <% if actividad.producto_id == 82 
            autor = Autor.where(actividad_id:actividad.id,persona_id:@idpersona).first
        %>
              <% if !autor.nil? %> 
                <% if autor.posgradoc.attached? %> 
                    <div class="d-flex">
                            <%= link_to rails_blob_path(autor.posgradoc, disposition: 'inline'), { target: '_blank' } do %>
                                    <div><small><i class="fas fa-file-pdf"></i> Comprobante </small></div>
                            <% end  %>
                    </div>   
                <% end %>
              <% end %>      
        <% end %>
        <% if actividad.producto_id == 83 %>
            <div class="d-flex flex-column">
                    <%= link_to rails_blob_path(actividad.tesisdoc, disposition: 'inline'), { target: '_blank' } do %>
                            <div><small><i class="fas fa-file-pdf"></i> Tesis </small></div>
                    <% end  %>
                    <%= link_to rails_blob_path(actividad.tesisportada, disposition: 'inline'), { target: '_blank' } do %>
                            <div><small><i class="fas fa-file-pdf"></i> Portada </small> </div>
                    <% end  %>
                    <%= link_to rails_blob_path(actividad.tesiscarta, disposition: 'inline'), { target: '_blank' } do %>
                            <div> <small> <i class="fas fa-file-pdf"></i> Carta </small> </div>
                    <% end  %>
            </div> 
        <% end %> 

    <% else %>
        
                    <% if actividad.documentos.attached? %> 
                        <% actividad.documentos.each do |d|%>
                            <div id="doc<%= d.id %>" class="d-flex">
                                <%= link_to  rails_blob_path(d, disposition: "inline"),  target: '_blank' do  %>
                                       <small><i class="fas fa-file-pdf text-primary"></i> Comprobante</small>
                                <% end %>
                            </div>
                        <% end %>  
                    <% else %>
                        <small class="text-danger font-italic"> No se anexo ningún comprobante</small>  
                       
                    <% end %>  
    <% end %>
   <div>
</div>    