
<% if @tipo == 'A' %>  
        <% if current_usuario.evaluador == 'A' || current_usuario.evaluador == 'B' %>  
                <div class="card mt-md-3">
                        <div class="card-body">  
                                <div class="row ">
                                
                                        <div id="datainvest" class="col-12 border-left border-top border-right border-bottom" style="overflow: scroll; height:700px;">
                                                <div class="d-flex justify-content-center font-weight-bold">Investigadores</div>        
                                                <%= render "list_invest" %>
                                        </div>  
                                       <!-- 
                                        <% if current_usuario.evaluador == 'A' %>  
                                                <div class="col-5 border-left border-top border-right border-bottom  ml-md-5" style="overflow: scroll; height:600px;">
                                                        <div class="d-flex justify-content-center font-weight-bold">Técnicos</div>
                                                        <%= render "list_tecnicos" %> 
                                                </div>
                                        <% end %> 
                                       --> 
                                </div>
                        </div>
                </div>

                <div class="card mt-md-3">
                        <div class="card-body">  
                                <div class="row" >
                                
                                        <div class="col-12 border-left border-top border-right border-bottom" style="overflow: scroll; height:200px;">
                                                <div class="d-flex justify-content-center font-weight-bold">Academicos validados</div>       
                                                  <div id="acvalidados"> 
                                                     <%= render "list_ok" %>
                                                  </div>   
                                        </div>  
                                </div>
                        </div>
                </div>
                
        <% end %>

        <% if current_usuario.evaluador == 'C' %>
        <div class="card mt-md-3">
                <div class="card-body">  
                <div class="row ">
                
                        <div class="col-12 border-left border-top border-right border-bottom  ml-md-5">
                                <div class="d-flex justify-content-center font-weight-bold">Técnicos</div>
                                <%= render "list_tecnicos" %> 
                        </div>

                </div>     
                </div>
        </div>
        <% end %>
<% end %> 

<% if @tipo == 'I' %>
        <h5> Producción Académica de Investigadores 2022</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %>  

<% if @tipo == 'E' %>
        <h5> Producción Académica - Tesis Externas 2022</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %>  
<% if @tipo == 'POS' %>
        <h5> Producción Académica - Tesis INECOL 2022</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %>  

<% if @tipo == 'V' %>
        <h5> Producción Académica 2021 - Productos sin validación de la SA</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %>  

<% if @tipo == 'P' %>
        <h5> Producción Académica 2021 - Publicaciones</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %>  

<% if @tipo == 'T' || @tipo == 'TS' %>
        <h5>Producción Académica de Técicos 2022</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %>  

<% if @tipo == 'AG' %>
        <h5>Producción Académica de Técicos 2021 - Agradecimiento en Tesis</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %> 
<% if @tipo == 'DEI' %>
        <h5><strong>Investigadores.</strong> Producción Académica 2021 - Otras actividades de divulgación-Exposición de divulgación de temas científicos y/o de conservación </h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %> 
<% if @tipo == 'DET' %>
        <h5><strong>Técnicos.</strong> Producción Académica 2021 - Otras actividades de divulgación-Exposición de divulgación de temas científicos y/o de conservación </h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %> 

<% if @tipo == 'ODV' %>
        <h5><strong>Técnicos.</strong> Producción Académica 2021 - Otras actividades de divulgación</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %> 

<% if @tipo == 'PSEI' %>
        <h5><strong>Investigadores.</strong> Producción Académica 2021 - Posgrado Externo</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %> 


<% if @tipo == 'PSET' %>
        <h5><strong>Técnicos.</strong> Producción Académica 2021 - Posgrado Externo</h5>
        <div data-controller = "valproducto">     
            <%= render "list_todo" %>
        </div> 
<% end %> 

<% if  @scroll.to_i > 0 %>

        <script>
                
                document.addEventListener("DOMContentLoaded", function(event) {
                        var pc = document.getElementById("trval_<%= @scroll %>").offsetTop;
                        document.getElementById("datainvest").scrollTop = pc;
                        var tr = document.getElementById("trval_<%= @scroll %>")
                        tr.style.backgroundColor='#f5b7a9'; 
                        setTimeout( ()=> {tr.style.backgroundColor=''},2*1000)                        
                         
                });
        </script>

<% end %>