<div class="card-body">
      <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <%= link_to "#", data:{action:'click->valproducto#cerrarTargetInfo', 'valproducto-trval-param':@trval, 'valproducto-tritem-param':@tritem } do %>
                    <i class="fas fa-times"></i>
                 <% end %>
             </div>
      </div>
      <%= render "valactividades/gui/arts" if @parts[0] == 'ART' %>
      <%= render "valactividades/gui/libros" if @parts[0] == 'LIBRO' %>
      <%= render "valactividades/gui/capitulos" if @parts[0] == 'CAPITULO' %>

      <%= render "valactividades/gui/flora" if @parts[0] == 'FLORA' %>
      <%= render "valactividades/gui/patente" if @parts[0] == 'PATENTE' %>
      <%= render "valactividades/gui/editor" if @parts[0] == 'EDITOR' %>
      <%= render "valactividades/gui/odivulga" if @parts[0] == 'ODIV' %>
      <%= render "valactividades/gui/vinculapp" if @parts[0] == 'VINCULAPP' %>
      <%= render "valactividades/gui/vinculasp" if @parts[0] == 'VINCULASP' %>
      <%= render "valactividades/gui/adicional" if @producto.prodgrupo.clave == 'ACTIVIDAD' %>
      <%= render "valactividades/gui/curso" if @producto.prodgrupo.clave == 'CUR' %>
      <%= render "valactividades/gui/tesis" if @producto.prodgrupo.clave == 'TESIS' %>
      <%= render "valactividades/gui/proyecto", actividad:@actividad if @producto.prodgrupo.clave == 'PROY' %>

      <div class="row">
        <div class="col-sm">
            <% if @actividad.fuente != 'P' %> 
               <strong>Participantes:</strong> <span class="font-italic"><%= citaConIdentificacion(@actividad.id).html_safe %></span>
            <% end %>
        </div>
      </div>



      <!-- Comprobante-->
       <%= render "comprobante", actividad:@actividad %>     
 
      <!-- Opciones de validaciones Botones -->
       <% if @rol == 'I' || @rol == 'C' %>
              <%= render "opciones_investigador" %>
       <% end %>  
       <% if @rol == 'T' %>  
             <% if current_usuario.evaluador == 'C' %>
                 <%= render "opciones_com" %>
             <% end %>
             <% if current_usuario.evaluador == 'A' %>
                 <%= render "opciones_sa" %>
             <% end %> 
       <% end %>       
</div>      