<%  @actividades.each do |a| 
            persona = nil
            persona =  Persona.find(a.personaid) if !a.personaid.nil?
        %>
            <div class="row border-bottom">
                <div class="col-auto"> <%= a.id %>  </div> 
                <div class="col"> 
                   <%= a.producto.descripcion %>  
                </div> 
                <div class="col"> 
                           <%= a.titulo %>  
                           <%= render "/actividades/actividades/show/attached", a:a  %>
                </div>
                <div class="col"> <% if !persona.nil? %>  
                               <%= (persona.paterno||'') + ' ' + (persona.materno||'') + ' ' + (persona.nombre||'') %> 
                       <% end %> 
                </div>
            </div>    

<% end %>