<%= form_with url: 'academicos/mensaje', model:@valetapa, remote:true do |form| %>
            <input type="hidden" name="id" value='<%= @actividad.id %>'>
            <input type="hidden" name="sec" value='0'>
            <input type="hidden" name="tipo" value='rechazar'>
            
            <% if userval == 'CM' %>
                <input type="hidden" name="etapa" value='CM'>
            <% end %>
            <% if userval == 'SA' %>
                <input type="hidden" name="etapa" value='SA'>
            <% end %>

            <input type="hidden" name="atendido" value='NO'>
            <input type="hidden" name="activo" value='SI'>
            <input type="hidden" name="estado" value='activo'>
            <input type="hidden" name="persona_id" value='<%= current_usuario.persona_id %>'>

            <%= form.label :txtmensaje, 'No cumple con la normativa. Escriba el motivo:', class:"font-weight-bold text-danger" %>
            <%= form.rich_text_area :txtmensaje %>
            <div class="row">
               <div class="d-flex justify-content-center p-2"> 
                   <button type="submit" class="btn btn-primary col-2"> <i class="fa-solid fa-check"></i> Aceptar</button>    
                    <% if userval == 'SA' %>
                      <button type="button" class="btn btn-secondary col-2 ms-3" data-action="click->investigador#detalle" data-investigador-idprod-param = "<%= @actividad.id %>" > <i class="fa-solid fa-xmark"></i> Cancelar</button>   
                    <% end %>
                    <% if userval == 'CM' %>
                      <button type="button" class="btn btn-secondary col-2 ms-3" data-action="click->tecnico#detalle" data-tecnico-idprod-param = "<%= @actividad.id %>" > <i class="fa-solid fa-xmark"></i> Cancelar</button>   
                    <% end %>  
  
               </div>            
           </div>
<% end %>