<div class="row text-primary cursor-pointer fw-bold" data-action="click->tecnico#sustantivas">
     <div class="col-12">
          <i class="fa-solid fa-list"></i> Ver actividades sustantivas...
     </div>     
</div>
<div id="div_sustantivas" class="row" style="display:none">
     <div class="col-12">
              <div class="d-flex justify-content-end p-2"><i class="fa-solid fa-xmark text-danger cursor-pointer fa-xl" data-action="click->tecnico#closesust" ></i></div>
              <div class="row mt-1 ms-3 border p-2" id="">
                    <% if  !@sustantivas.nil? %>
                       <% @sustantivas.itemsustantivas.each do |item| 
                          @invest = Persona.find(item.persona_id)
                       %>
                          <div class="row p-1">
                               <div class="col-auto text-primary"><i class="fa-regular fa-circle-check"></i></div>
                               <div class="col-11"> 
                                      <%=  item.descripcion %>
                                      <strong>Investigador: <%=  (@invest.paterno||'') + ' ' + (@invest.materno||'') + ' ' + (@invest.nombre||'') %> </strong>
                                      <strong>Porcentaje: <%= item.porcentaje %> </strong>
                               </div>
                          </div>
                       <% end %>
                     <% else %>  
                          <div class="row p-1">
                               <div class="italic fst-italic text-danger"> No ha registrado actividades sustantivas </div>
                          </div>     
                    <% end %>   
              </div>
      </div>
</div>

<div class="row">    
   <div class="col p-2">
         <p class="text-center text-secondary">Actividades adicionales</p>
   </div>
</div>



<div class="row bg-body rounded-3 mt-1 mb-5">    
   <div class="col-12">
            <% @adicionales.each do |item| 
               puts item.id
               responsable = Persona.find(item.personaid)
            %>
                <% if @academico.id == item.personaid %> 
                           <%= render "adicional_prop", item:item %>
                 <% else %> 
                           <%= render "adicional_ext", item:item, responsable:responsable %> 
                <% end %>    
                
            <% end %>
   </div>     
</div>   