<div class="row p-2 border-bottom">
                    <div id="folio_<%= item.id %>" class="col-1 text-center align-middle <%= 'text-success fw-bold' if item.estado=='C' %> <%= 'text-warning fw-bold' if item.estado=='G' %> <%= 'text-danger fw-bold' if item.estado=='D' %>" > 
                         <%= item.id %> 
                    </div>
                    <div class="col-4 align-middle" > <%= item.producto.descripcion %></div>
                    <div class="col-6 align-middle" style="text-align: justify;"> 
                              <div><%= item.titulo %></div>
                              <div class="text-primary cursor-pointer" data-action="click->tecnico#detalle" data-tecnico-idprod-param = "<%= item.id %>" > Ver producto</div>
                              <%   
                                 valetapa = Valetapa.where(actividad_id:item.id).last
                                 activa_val = ''
                                 if !valetapa.nil?
                                      if item.estado == 'U' && (valetapa.accion == 'corregir' && valetapa.estado == 'activo')
                                           activa_val = 'Corrección realizada.' 
                                      end
                                 end
                              %>
                              <div class="ms-3" style="color:#ff6347;"><%= activa_val %></div>
                    </div>
                    <div id="estado_<%= item.id %>" class="col-1 align-middle" style="text-align: center;"> 
                        <%= render "estado_producto", item:item %> 
                    </div>

                    <div class="row p-2" id="div_detalle_<%= item.id %>" style="display:none;">
                        <div class="col-1"></div>
                        <div class="col-10 rounded border border-success bg-light" id="data_producto_<%= item.id %>">DATA</div>
                        <div class="col-1"></div>
                    </div>  
</div>  