<div class="row p-2 border-bottom text-secondary">
                    <div id="folio_<%= item.id %>" class="col-1 text-center align-middle" > 
                         <%= item.id %> 
                    </div>
                    <div class="col-4 align-middle" > 
                        <%= item.producto.descripcion %>
                        <% if item.producto.prodgrupo_id == 29 %>
                             - <strong><%= item.producto.concepto %></strong>
                       <% end %> 
                    
                    </div>
                    <div class="col-6 align-middle" style="text-align: justify;"> 
                              <div><%= item.titulo %></div>
                              <div class="text-success">Responsable: <%=  (responsable.nombre||'') + ' ' + (responsable.paterno||'') + ' ' + (responsable.materno||'') %></div>
                              <% if current_usuario.evaluador == 'A' %>
                                 <div class="text-primary cursor-pointer" data-action="click->tecnico#detalle" data-tecnico-idprod-param = "<%= item.id %>" > Ver producto</div>
                              <% end %>   

                    </div>
                    <div id="estado_<%= item.id %>" class="col-1 align-middle" style="text-align: center;"> 
                         <%= render "estado_meta", item:item %> 
                    </div>

                    <div class="row p-2" id="div_detalle_<%= item.id %>" style="display:none;">
                        <div class="col-1"></div>
                        <div class="col-10 rounded border border-success bg-light" id="data_producto_<%= item.id %>">DATA</div>
                        <div class="col-1"></div>
                    </div>  
                    <div> 
                        <strong>  <%= item.puntosAutores(@academico.id) %> </strong>
                  </div>
</div>  