
<div class="row mb-md-8 p-2">
    <div class="col-md-2">
        <%= link_to posgrados_path(:p=>@curso.periodo), data:{turbolinks:false} do %>
            <i class="fas fa-long-arrow-alt-left"></i> Regresar
        <% end%>
    </div>  
    <% if current_usuario.persona_id != 105 %>
        <div class="col-md-4">
              <% if @curso.estado == 'U' %>
                    <%= link_to edit_posgrado_path(@curso.id), data:{turbolinks:false} do %>
                         <i class="fas fa-edit"></i> Editar tesis
                    <% end%>
              <% else %>     
                     <% if @curso.estado == 'C' %>  
                       <i class="fas fa-check-double text-success"></i> <span class="text-success">Producto validado por la Secretaría de Posgrado</span>
                     <% end %>  
              <% end %>         
        </div>  
    <% end %>  
    <% if current_usuario.persona_id == 105 %> 
        <div class="col-md-3" id="actividad<%= @curso.id %>">
        <% if @curso.estado == 'U' %>
                <%= link_to validar_path(@curso,'coor'), remote:true, data:{confirm:"¿Desea validar el registro? Asegurarse de la correcta categorización, ver Cap VIII, 8.IV lineamientos", disabled_with: "Enviando.."} do %>
                    <i class="fas fa-check-circle text-warning"></i><small> Validar</small>
                <% end %>
        <% end %>
        <% if @curso.estado == 'C' %>
                    <i class="fas fa-check-double text-success"></i> <span class="text-success">Producto validado</span>
        <% end %>
        </div> 
    <% end %>
</div>
<div class="card p-4">
   <div class="row pl-md-3 pt-md-3">
       <div class="col-md-12">
           <span class="text-secondary font-weight-bold">Título de la tesis:</span> <%= @curso.titulo %>
       </div>
   </div> 
   <div class="row pl-md-1 pt-md-1">
      <div class="col-md-4">
            
            <div class="col-md-12">
                <span class="text-secondary font-weight-bold">Número de acta:</span> <%= @curso.tesista.acta %>
            </div> 
            <div class="col-md-12">
                <span class="text-secondary font-weight-bold">Nivel:</span> <%= @curso.tesista.nivelestudio.nomnivel %>
            </div>
            <div class="col-md-12">
                <span class="text-secondary font-weight-bold">Fecha de grado:</span> <%= @curso.tesista.fgrado %>
            </div>
            <div class="col-md-12">
                <span class="text-secondary font-weight-bold">Eficiencia terminal:</span> <%= @curso.tesista.efterminal %>
            </div> 
      </div> 
      
   </div>
    <div class="row pl-md-3 pt-md-2">
            <div class="col comprobante"><h5>Comprobantes</h5></div>
    </div>
   <div class="col-md-10 pl-md-1 pt-md-1">
      <div class="col">
                        <% if @curso.tesisdoc.attached? %>
                          
                                <div class="col-6">  <%= link_to @curso.tesisdoc.filename, rails_blob_path(@curso.tesisdoc, disposition: 'attachment', target: '_blank') %> </div>
                        <% else %>
                                 <I>Sin comprobante</I>
                        <% end %>  
     </div>   
     <div class="col">
                        <% if @curso.tesisportada.attached? %>
                          
                                <div class="col-6">  <%= link_to @curso.tesisportada.filename, rails_blob_path(@curso.tesisportada, disposition: 'attachment', target: '_blank') %> </div>
                        <% else %>
                                 <I>Sin comprobante</I>
                        <% end %>  
     </div>   
     <div class="col">
                        <% if @curso.tesiscarta.attached? %>
                          
                                <div class="col-6">  <%= link_to @curso.tesiscarta.filename, rails_blob_path(@curso.tesiscarta, disposition: 'attachment', target: '_blank') %> </div>
                        <% else %>
                                 <I>Sin comprobante</I>
                        <% end %>  
     </div>        
   </div>  
   <div class="row mt-md-3">
      <div class="col-md-6"> 
        <table class="table table-bordered ml-md-3">
            <thead>
                <tr>
                   <th>Nombre</th>
                   <th>En calidad de</th>
                   
                </tr>
            </thead>
            <tbody>
                <% @curso.autores.each do |a| %>
                        <tr>
                            <td><%= (a.persona.nombre||'') + ' ' + (a.persona.paterno||'') + ' ' + (a.persona.materno||'') %></td>
                            <td><%= a.rol.nomrol %></td>
                        </tr>
                <% end %>
            </tbody>
        </table>         
       </div>   
   </div>

</div>