<%= form_with model:[:actividades, actividad], remote:false do |form| %>
    <%= render "form_inputs_com", form:form %>
    
    <div class="row">
        <div class="mb-3 col-md-9">
               <%= form.label :titulo, "Título:", class:"form-label" %>
               <%= form.text_field :titulo, class:"form-control" %>
         </div>  
         <div class="mb-3 col-md-3">
               <%= form.label :anio, "Año:", class:"form-label" %>
               <%= form.text_field :anio, class:"form-control" %>
         </div>  
    </div>   

    <%= render "doc_comprobante", form:form %>
    <%= render "form_autores", form:form %>
    
    <%= render "red_acad", form:form  %>

    <div class="row">
        <div class="col">
            <%= form.submit %>
        </div> 
    </div>
<% end %>