
    <div class="row">
        <div class="mb-3 col-md-9">
               <label class="font-weight-bold">Título:</label>
               <div><%= @actividad.titulo %></div>
         </div>  
         <div class="mb-3 col-md-3">
               <label class="font-weight-bold">Fecha de publicacion:</label>
               <div><%= @actividad.fechapub %></div>
         </div>  
    </div>   
  
    <%= render "actividades/actividades/show/form_art_c" if @parts[1] == 'C' %>
    <%= render "actividades/actividades/show/form_art_d" if @parts[1] == 'D' %>
    <%= render "actividades/actividades/show/form_art_d" if @parts[1] == 'P' %>
    

    <%= render "actividades/actividades/show/comprobante", actividad:@actividad %>
    <%= render "actividades/actividades/show/red_acad", actividad:@actividad  %>
    <%= render "actividades/actividades/show/autoria", actividad:@actividad, swcorr:'S' %>