
     <div class="row">
        <div class="mb-3 col-md-12">
          <label class="font-weight-bold">Título de la tesis:</label>
          <div><%= actividad.titulo %></div>
          
        </div>
     </div> 
    
        <div class="row">
               <div class="mb-3 col-md-8">
                        <label class="font-weight-bold">Nivel:</label>
                        <div><%= actividad.tesista.nivelestudio.nomnivel %></div>
               </div>  
                <div class="mb-3 col-md-3">
                     <label class="font-weight-bold">Feha del exámen de grado:</label>
                     <div><%= actividad.tesista.fgrado %></div>
                </div>    
        </div> 
  
    <%= render "actividades/actividades/show/comprobante", actividad:@actividad %>
    <%= render "actividades/actividades/show/autoria", actividad:@actividad, swcorr:'N' %>