

<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Revista:
     </div>
     <div class="col d-flex justify-content-start">
          <%= @actividad.articulo.revista.nomrevista %>
     </div>
</div>

<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Volumen:
     </div>
     <div class="col d-flex justify-content-start">
          <%= @actividad.articulo.volumen %>
     </div>
</div>
<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Issue:
     </div>
     <div class="col d-flex justify-content-start">
          <%= @actividad.articulo.issue %>
     </div>
</div>
<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Página Inicial:
     </div>
     <div class="col d-flex justify-content-start">
           <%= @actividad.articulo.pgini %>
     </div>
</div>
<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Página Final:
     </div>
     <div class="col d-flex justify-content-start">
          <%= @actividad.articulo.pgfin %>
     </div>
</div>
<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Número Electrónico:
     </div>
     <div class="col d-flex justify-content-start">
          <%= @actividad.articulo.eidentificador %>
     </div>
</div>
<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           DOI:
     </div>
     <div class="col d-flex justify-content-start">
          <%= @actividad.articulo.doi %>
     </div>
</div>
<div class="row">
     <div class="col-md-2 d-flex justify-content-end fw-bold"> 
           Abstract:
     </div>
     <div class="col d-flex justify-content-start">
          <%= @actividad.articulo.abstract %>
     </div>
</div>