 <script src="https://unpkg.com/knockout@3.5.1/build/output/knockout-latest.js"></script>
 <script src="https://unpkg.com/survey-knockout@1.8.77/survey.ko.min.js"></script>
 <link href="https://unpkg.com/survey-core@1.8.77/modern.min.css" type="text/css" rel="stylesheet"/>

 <% if @tipo == 'CA' %> 
     <%= nomseccion("Cuestionario de <span class='text-primary'>Calidad</span>", 'Periodo 2022') %>
     <div class="row fw-bolder"><div class="col text-primary">Nombre: <%= @itemsust.evaltecnico.persona.paterno + ' ' + @itemsust.evaltecnico.persona.materno + ' ' + @itemsust.evaltecnico.persona.nombre  %></div></div>
     <%= render "calidad" %>
 <% end %>    

 <% if @tipo == 'EF' %> 
     <%= nomseccion("Cuestionario de <span class='text-primary'>Eficiencia", 'Periodo 2022') %>
     <div class="row fw-bolder"><div class="col text-primary">Nombre: <%= @itemsust.evaltecnico.persona.paterno + ' ' + @itemsust.evaltecnico.persona.materno + ' ' + @itemsust.evaltecnico.persona.nombre  %></div></div>
     <%= render "eficiencia" %>
 <% end %>    