<%= form_with(model:@editorial, local:true) do |f| %>
  
 <ul class="flex-outer">
    <li>
     <%= f.label :nomeditorial, "Nombre de la editorial:" %>
     <%= f.text_field :nomeditorial, class:"form-control" %>
   </li>
   <li>
     <%= f.label :especializada, "Editorial especializada:" %>
     <%= f.select :especializada, @especializada, {:include_blank=>'--Seleccione una opción--'} ,class:"form-control" %>
   </li>
    <li>
     <%= f.label :ciudad, "Ciudad(ubicación):" %>
     <%= f.text_field :ciudad, class:"form-control" %>
   </li>
   <li> 
     <%= f.label :pais_id, "País:" %>
     <%= f.select :pais_id, Pais.all.order(:nompais).collect { |r| [r.nompais,r.id] }, {:include_blank=>'--Seleccione un pais--'}, class:"form-control" %>
  </li>
  <li> 
     <%= f.label :ambito_id, "Ambito:" %>
     <%= f.select :ambito_id, Ambito.all.order(:nomambito).collect { |r| [r.nomambito,r.id] }, {:include_blank=>'--Seleccione una opción--'}, class:"form-control" %>
  </li>
  <li>
        <button type="submit">Guardar</button>
  </li>
 </ul>



<% end %>