<style>
   a:hover {
      color: #1380f4 !important;
   }
</style>

 <ul class="navList">
    <li class="navList__heading">
       <%= link_to actividades_actividades_path, data: {turbolinks:false} do %>
          <i class="fas fa-home text-white"></i><span class="text-white"> Inicio </span>
       <% end %>   
   </li>
  
   <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fas fa-tasks"></i></span>
            <span class="navList__subheading-title">Producción Académica</span>
          </div>
          <ul class="subList subList--hidden">
            <li class="subList__item">
               <%= link_to actividades_catalogos_path, data:{turbolinks:false} do%> 
                   <i class="fas fa-plus"></i> Registar producto
               <% end %>    
            </li>
            
          </ul>
   </li>
   <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fas fa-history"></i></span>
            <span class="navList__subheading-title">Históricos</span>
          </div>
          <ul class="subList subList--hidden">
            <li class="subList__item">
               <%= link_to datahistory_path(2020), data:{turbolinks:false} do %>
                   <i class="fas fa-th-list"></i> Periodo 2020
               <% end %>    
            </li>
            <li class="subList__item">
               <%= link_to datahistory_path(2019), data:{turbolinks:false}  do %>
                   <i class="fas fa-th-list"></i> Periodo 2019
               <% end %>    
            </li>
            <li class="subList__item">
               <%= link_to histoconsultar_path, data:{turbolinks:false}  do %>
                   <i class="fas fa-th-list"></i> Periodo 2018
               <% end %>    
            </li>
            
          </ul>
   </li>
   <li class="navList__heading">
       <%= link_to evaltecnico_path, data: {turbolinks:false} do %>
         <i class="fas fa-bezier-curve text-white"></i><span class="text-white"> Calificar Sustantivas de Técnicos </span>
       <% end %>   
   </li>
   <% if current_usuario.persona_id == 105 %>
      <li>
            <div class="navList__subheading row row--align-v-center">
               <span class="navList__subheading-icon"><i class="fas fa-share-alt"></i></span>
               <span class="navList__subheading-title">Posgrado</span>
            </div>
            <ul class="subList subList--hidden">
               <li class="subList__item">
                  <%= link_to posgrados_path, data:{turbolinks:false} do %>
                  <i class="fas fa-file-alt"></i> Validar productos
                  <% end %>    
               </li>
            
               
            </ul>
      </li>
   <% end %>

   <% if current_usuario.rol == 'C' %>
         <li class="navList__heading">
            <%= link_to redesindex_path, data: {turbolinks:false} do %>
               <i class="fas fa-users text-white"></i><span class="text-white"> Red Académica </span>
            <% end %>   
         </li>
    <% end %>
    <% if current_usuario.evaluador == 'A' %>
        <li class="navList__heading">
            <%= link_to validaindex_path(:tipo=>'I'), target:"_blank", data: {turbolinks:false} do %>
               <i class="fas fa-users text-white"></i><span class="text-white"> Evaluación 2021 </span>
            <% end %>   
         </li>
    <% end %>     

   <li class="navList__heading">
        
       <%= link_to destroy_usuario_session_path, data: {turbolinks:false} do %>
          <i class="fas fa-sign-out-alt text-white"></i><span class="text-white"> Salir </span>
       <% end %>    
   </li>

       




 </ul>       