 <ul class="navList">
    <li class="navList__heading">
       <%= link_to actividades_actividades_path, data: {turbolinks:false} do %>
          <i class="fas fa-home text-white"></i><span class="text-white"> Inicio </span>
       <% end %>   
   </li>
  
   <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fas fa-tasks"></i></span>
            <span class="navList__subheading-title">Producción Académica</span>
          </div>
          <ul class="subList subList--hidden">
            <li class="subList__item">
               <%= link_to actividades_catalogos_path, data:{turbolinks:false} do%> 
                   <i class="fas fa-plus"></i> Registar producto
               <% end %>    
            </li>
            
          </ul>
   </li>
   

   <li class="navList__heading">
       <%= link_to sustdetalle_path, data: {turbolinks:false} do %>
         <i class="fas fa-bezier-curve text-white"></i><span class="text-white"> Registro de Actividades Sustantivas </span>
       <% end %>   
   </li>
   <li class="navList__heading">
       <%= link_to evaltecnico_path, data: {turbolinks:false} do %>
        <i class="fas fa-list-ol text-white"></i><span class="text-white"> Calificar Sustantivas de Técnicos </span>
       <% end %>   
   </li>
   <% if current_usuario.evaluador == 'C' %>
        <li class="navList__heading">
            <%= link_to validaindex_path(:tipo=>'A'), target:"_blank", data: {turbolinks:false} do %>
               <i class="fas fa-users text-white"></i><span class="text-white"> Validar Adicionales </span>
            <% end %>   
         </li>
    <% end %>  
    <% if current_usuario.evaluador == 'B' %>
        <li class="navList__heading">
            <%= link_to validaindex_path(:tipo=>'A'), target:"_blank", data: {turbolinks:false} do %>
               <i class="fas fa-users text-white"></i><span class="text-white"> Evaluación 2021 </span>
            <% end %>   
         </li>
    <% end %>  
  <li class="navList__heading">
        
       <%= link_to destroy_usuario_session_path  data: {turbolinks:false} do %>
          <i class="fas fa-sign-out-alt text-white"></i><span class="text-white"> Salir </span>
       <% end %>    
   </li>
   
 </ul>       