<div class="w-75">
    <div class="col ms-5"> 
              <div class="d-flex justify-content-center p-3 fw-bold text-center item" style="font-size:15px;"></div>
              <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to validaindex_path(:tipo=>'A'), style:'text-decoration: none;' do %>
                              <i class="fa-solid fa-house-chimney-user"></i> Investigadores
                          <% end %>   
              </div>
              <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to validaindex_path(:tipo=>'E'), style:'text-decoration: none;' do %>
                              <i class="fa-solid fa-chevron-right"></i> Tesis externas
                          <% end %>   
              </div>
               <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to validaindex_path(:tipo=>'POS'), style:'text-decoration: none;' do %>
                              <i class="fa-solid fa-chevron-right"></i> Tesis INECOL
                          <% end %>   
              </div>
              <div class="justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body mt-2 fw-bold item">
                         <%= link_to busquedas_path, style:'text-decoration: none;' do %> 
                           <i class="fa-solid fa-filter"></i> Buscar
                         <% end %>  
              </div>
        <!--      
              <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to validaindex_path(:tipo=>'I'), style:'text-decoration: none;' do %>
                              <i class="fas fa-address-book"></i> Investigadores
                          <% end %>   
              </div>


              <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to validaindex_path(:tipo=>'T'), style:'text-decoration: none;' do %>
                               <i class="fas fa-users-cog"></i> Técnicos
                          <% end %>   
              </div>
        -->
     </div>         
</div>     