<ul class="navList">
    <li class="navList__heading">
            <%= link_to validaindex_path(:tipo=>'A'), data: {turbolinks:false} do %>
               <i class="fas fa-users text-white"></i><span class="text-white"> Inicio </span>
            <% end %>  
            
    </li>

    

    <% if current_usuario.evaluador == 'A' %>
        <li class="navList__heading">Listar todo</li> 
        <li class="subList__item">
                <%= link_to validaindex_path(:tipo=>'I'), class:"text-white" do %>
                        <i class="fas fa-address-book"></i> Investigadores
                <% end %> 
        </li>
        <li class="subList__item">
                <%= link_to validaindex_path(:tipo=>'T'), class:"text-white" do %>
                         <i class="fas fa-users-cog"></i> Técnicos
                <% end %> 
        </li>
         <li class="subList__item">
                <%= link_to tevaluacion_path, class:"text-white" do %>
                        <i class="fas fa-book-open"></i> Evaluaciones
                <% end %> 
         </li>
         
         <li class="navList__heading">Categorias</li> 
         <li class="subList__item">
            <%= link_to validaindex_path(:tipo=>'E'), data: {turbolinks:false} do %>
               <i class="fas fa-caret-right text-white"></i><span class="text-white"> Tesis externas </span>
            <% end %>
         </li>
          <li class="subList__item">
            <%= link_to validaindex_path(:tipo=>'V'), data: {turbolinks:false} do %>
               <i class="fas fa-caret-right text-white"></i><span class="text-white"> Sin validar </span>
            <% end %>
         </li>
    <% end %>
</ul>   

