<div class="row border-bottom mt-2 <%= 'fw-bold' if a.estado=='A' %> ">

        <div class="col-1 d-flex justify-content-center  align-self-center">
              <%= a.id %>
        </div>
        <div class="col-3  align-self-center">
             <%= a.producto.descripcion %>
             <% if a.producto.prodgrupo_id == 29 %>
                - <%= a.producto.concepto %>  
             <% end %>
        </div>
        <div class="col-6  align-self-center">
               <%= a.titulo %>
               <div>
                    <%= link_to actividades_actividad_path(a.id), class:"text-decoration-none mostrar" do %>
                         <i class="fa-regular fa-file-powerpoint"></i> Ver producto
                    <% end %>
               
               </div>
        </div>
        <div class="col  align-self-center">
             <% if a.producto.prodgrupo_id != 29 %> 
                 <%= render "actividades/actividades/items/validacion_fila", a:a %>
             <% end %>    

             <% if a.producto.prodgrupo_id == 29 %> 
                 <%= render "actividades/actividades/items/validacion_fila_t", a:a %>
             <% end %>    
        
        </div>

</div>