<div class="row border-bottom mt-2 <%= 'fw-bold' if a.estado=='A' || a.estado == 'G' %> ">

        <div class="col-1 d-flex justify-content-center  align-self-center">
              <%= a.id %>
        </div>
        <div class="col-3  align-self-center">
             <%= a.producto.descripcion %>
             <% if a.producto.prodgrupo_id == 29 %>
                - <%= a.producto.concepto %>  
             <% end %>
             
        </div>
        <div class="col-6  align-self-center">
               <%= a.titulo %>
               <div>
                    <%= render "/actividades/actividades/items/ver_producto", a:a %>
               </div>
           <!--
               <div style="color:#ff6347;">
                    <% if a.estado == 'G' %>
                         <i class="fa-regular fa-pen-to-square"></i> El periodo de corrección ha concluido.
                    <% end %>
               </div>
          -->     
        </div>
        <div class="col  align-self-center">
             <% if a.producto.prodgrupo_id != 29 %> 
                 <%= render "actividades/actividades/items/validacion_fila", a:a %>
             <% end %>    

             <% if a.producto.prodgrupo_id == 29 %> 
                 <%= render "actividades/actividades/items/validacion_fila_t", a:a %>
             <% end %>    
        
        </div>
        <div class="col  align-self-center">
             <%
                  puntos = Punto.where(persona_id:current_usuario.persona_id,anio:2023,actividad_id:a.id).first
             %>
             <% if !puntos.blank? %>    
                     <%=  puntos.pt %>
             <% else %>    
                    --
             <% end %>
        </div>

</div>