<% 
  disabled ||= @disabled
%>
<div class="row">
 <div class="col-12">
   <strong><%= @producto.descripcion %></strong>
 </div>  
</div>
<hr>

<%= form_with(model: @actividad, local: true)  do |form| %>
     <%= form.hidden_field :producto_id, value: @producto.id %> 
     <%= form.hidden_field :personaid, value: @actividad.personaid %> 
     <% if @action == 'newact' || @action == 'edit' %>
         <%= form.hidden_field :estado, value:'A' %> 
      <% end %> 
     <div class="form-group">
         <%= form.label :titulo, "Título:"%>
         <%= form.text_field :titulo, class:"form-control", disabled: disabled %>
     </div>
     <div class="row">
         <div class="col">
            <div class="form-group">
               <%= form.label :anio, "Año:" %>
               <%= form.text_field :anio,class:"form-control", disabled: disabled  %> 
            </div>    
         </div>  
            <%= form.fields_for :libroarbitrado do |lib_form| %>
               <div class="col">
                  <div class="form-group">
                     <%= lib_form.label :nopaginas, "Número de páginas:" %>
                     <%= lib_form.text_field :nopaginas, class:"form-control", disabled: disabled %>
                  </div>    
               </div>  
               
               <div class="col-2">
                  <div class="form-group">
                     <%=  lib_form.label :idioma_id, "Idioma:" %>
                     <%=  lib_form.select :idioma_id, Idioma.all.pluck(:nomidioma,:id), { :include_blank=>'Idioma'},{class:"selectize", disabled: disabled } %>
                  </div> 
               </div> 

               <div class="col-6">
                  <div class="form-group">
                     <%=  lib_form.label :editorial_id, "Editorial:" %>
                     <%=  lib_form.select :editorial_id, Editorial.all.pluck(:nomeditorial,:id), { :include_blank=>'Editorial'},{class:"selectize", disabled: disabled } %>
                  </div> 
               </div>   
            <% end %>   
       </div>
         
       
        <%= render "crud/actividad/comprobante", form:form %>
        <div class="form-group"> 
          <strong>Autores(Participantes)</strong>
        </div> 
        <%= render "crud/actividad/autores", form:form %>
       
     <br><br>
      <% if !@disabled %>
         <div class="form-group">   
            <%= form.submit "Guardar información", data: { confirm: 'La información será enviada para validación, ¿Desea continuar?' } %>
         </div>       
      <% end %>   

<% end %>