<div class="d-flex justify-content-center mt-md-3">
 <div class="col-12">
   <div class="card">
   <div class="card-body">
         <h5>Productos Académicos 2023 </h5>
         <table class="table table-sm" data-controller="validar">
            <thead>
               <tr>
                  <th>Folio</th>
                  <th>Producto </th>
                  <th>Actividad</th> 
                  <th><th>
               </tr>
            </thead>
            <tbody>
               <% if @actividades.any? %> 
                     <% 
                      
                        @i = 1
                        @actividades.each do |a|
                           @row_id = @i.to_s + '_' + a.id.to_s
                           idresp = 0
                           producto = Producto.find(a.producto_id)
 
                           if !a.personaid.nil?
                                 idresp = a.personaid
                                 resp = Persona.find(idresp)
                                 tipo_academico = resp.tipopersona_id
                                 u = Usuario.where(persona_id:resp.id).first
                            else
                                 tipo_academico = 0
                           end
                           
                           if producto.prodgrupo_id != 29 && a.fuente == 'M'  && tipo_academico != 4
                     %>
                                 <tr id="tr_<%= @row_id %>" class="">
                                    <td> <%= a.id %> </td>
                                    <td> <%= a.producto.descripcion %> 
                                       <% if a.producto.prodgrupo.clave == 'OTRASD' %>
                                                         -<I><%= a.divulgacion.tipodivulgacion.nomtipodivulgacion %> </I>
                                          <% end %> 
                                    </td>
                                    <td> <%= a.titulo %> 
                                          
                                    </td>
                                    <td> 
                                          <% if a.producto_id == 22 %>
                                                     <%= render 'actividades/redacademicas/btn_vals_div', a:a %>
                                          <% elsif a.producto_id == 39 %>            
                                                     <%= render 'actividades/redacademicas/btn_vals_per', a:a %> 
                                          <% else %>
                                                     <%= render 'actividades/redacademicas/btn_vals_g', a:a %>
                                          <% end %>
                                    </td>
                                 </tr> 
                                 <tr id="div_<%= @row_id %>" style="display:none">
                                    <td></td>
                                    <td></td>
                                    <td>
                                       <div>
                                             contenido de la validacion
                                       </div>
                                    
                                    </td>
                                    <td></td>
                                 </tr>  
                              <% @i = @i +1 %>  
                           <% end %>    
                         <% end %>
               <% else %>      
                     <tr><td span="4">No hay registros</td></tr>
               <% end %>

            </tbody>
         </table>
   </div>    
  </div>
  </div>
</div>  