<div class="d-flex justify-content-center mt-md-3">
 <div class="col-11">
   <div class="card">
   <div class="card-body">
         <h5>Productos Académicos </h5>
         <table class="table table-sm" data-controller="validar">
            <thead>
               <tr>
                  <th>Folio</th>
                  <th>Producto </th>
                  <th>Actividad</th> 
                  <th><th>
               </tr>
            </thead>
            <tbody>
               <% 
                  @i = 1
                  @actividades.each do |a|
                     @row_id = @i.to_s + '_' + a.id.to_s
                     idresp = 0

                     if !a.personaid.nil?
                          idresp = a.personaid
                          resp = Persona.find(idresp)
                          u = Usuario.where(persona_id:resp.id).first
                     end
                     
                     if idresp > 0
                        if a.producto.prodgrupo.clave != 'ACTIVIDAD' && u.rol != 'T'
               %>
                     <tr id="tr_<%= @row_id %>" class="">
                        <td> <%= a.id %> </td>
                        <td> <%= a.producto.descripcion %> 
                             <% if a.producto.prodgrupo.clave == 'OTRASD' %>
                                              -<I><%= a.divulgacion.tipodivulgacion.nomtipodivulgacion %> </I>
                              <% end %> 
                        </td>
                        <td> <%= a.titulo %> 
                              
                        </td>
                        <td> 
                         
                           <% if a.estado == 'U' %>
                              <!--
                                 <button class="btn btn-warning btn-sm" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" >Validar</button>
                              --> 
                              <small class="text-danger">Sin validar</small>
                           <% end %>  
                           <% if a.estado == 'C' ||  a.estado == 'S' %>
                                 <span class="badge badge-success" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" style="cursor: pointer">VER</span>
                           <% end %> 
                           <% if a.estado == 'G' %>
                                 <span class="badge badge-info" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" style="cursor: pointer">En edición</span>
                           <% end %> 
                           <% if a.estado == 'D' %>
                                 <span class="badge badge-danger" data-action="click->validar#seccVal" data-validar-row-param="div_<%= @row_id %>" style="cursor: pointer">No se considera</span>
                           <% end %>
                         
                        </td>
                     </tr> 
                     <tr id="div_<%= @row_id %>" style="display:none">
                        <td></td>
                        <td></td>
                        <td>
                           <div>
                                 contenido de la validacion
                           </div>
                        
                        </td>
                        <td></td>
                     </tr>  
               <% 
                    @i = @i +1
                    end  
                   end
                 end
               %>


            </tbody>
         </table>
   </div>    
  </div>
  </div>
</div>  