<!DOCTYPE html>
<html>
  <head>
    <title>INECOL::Sistema de Producción Académica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
     <script src="https://kit.fontawesome.com/00934c45cc.js" data-mutate-approach="sync"></script>      
    
  </head>

  <body class="bgbody" >
        <%= render "layouts/header" %>      
         <div class="container" >    
             <%= yield %>
         </div>    
  </body>

</html>  