<%= form_with(model:@libro, local:true) do |f| %>
   <ul class="flex-outer">
    <li> 
      <%= f.label :nomlibro, "Nombre del libro:" %>
      <%= f.text_field :nomlibro, class:"form-control" %>
    </li> 
    <li> 
      <%= f.label :editores, "Editores:" %>
      <%= f.text_field :editores, class:"form-control" %>
    </li>   
    <li>  
      <%= f.label :isbn, "ISBN:" %>
      <%= f.text_field :isbn, class:"form-control" %>
    </li> 
    <li>   
      <%= f.label :anio, "Año:" %>
      <%= f.text_field :anio, class:"form-control" %>
    </li>   
    <li> 
      <%= f.label :nopaginas, "No. Páginas:" %>
      <%= f.text_field :nopaginas, class:"form-control" %>
    </li>   
    <li>  </li> 
      <%= f.label :editorial_id, "Editorial:" %>
    
      <%= f.select :editorial_id, Editorial.all.order(:nomeditorial).pluck(:nomeditorial,:id), { :include_blank=>'Buscar editorial'},{class:"selectize", } %>
      <li>  </li> 
      <li>  </li> 
    <li>
        <button type="submit">Guardar</button>
    </li>
   </ul>   
<% end %>

<div class="modal fade category-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Agregar Editorial</h4>
      </div>
      <div class="modal-body">
        <% @editorial = Editorial.new %> 
            <%= form_with model:@editorial, id:"form_new_editorial" do |f| %>
               <ul class="flex-outer">          
                  <li> 
                    <%= f.label :nomeditorial, "Nombre de la editorial:" %>
                    <%= f.text_field :nomeditorial, class:"form-control" %>
                  </li>
                  <li> 
                   <%= f.label :especializada, "Editorial especializada:" %>
                   <%= f.select :especializada, @especializada, {:include_blank=>'--Seleccione una opción--'} ,class:"form-control" %>
                  </li>  
                  <li> 
                   <%= f.label :ciudad, "Ciudad(ubicación):" %>
                   <%= f.text_field :ciudad, class:"form-control" %>
                  </li>
                  <li> 
                   <%= f.label :pais_id, "País:" %>
                   <%= f.select :pais_id, Pais.all.order(:nompais).collect { |r| [r.nompais,r.id] }, {:include_blank=>'--Seleccione un pais--'}, class:"form-control" %>
                  </li>
                  <li> 
                   <%= f.label :ambito_id, "Ambito:" %>
                   <%= f.select :ambito_id, Ambito.all.order(:nomambito).collect { |r| [r.nomambito,r.id] }, {:include_blank=>'--Seleccione una opción--'}, class:"form-control" %>
                  </li>  
                  <li> 
                   <button type="submit">Guardar</button>
                  </li>  
            <% end %>
      </div>
    </div>
  </div>
</div>