<tr class="rwautor">
  <td> <div class="d-flex justify-content-center">
       <%= form.hidden_field :_destroy %>  
       <%= form.hidden_field :rol_id, value:'1' %>
        <% if @producto.prodgrupo.clave != 'ACTIVIDAD' %> 
              <%= form.select :persona_id, 
                Persona.where(estado:'A').order(:paterno).collect {|p| [((p.paterno||'')+' '+(p.materno||'')+' '+(p.nombre||'')), p.id]}, 
                {include_blank: true},
                {class:"form-control", data:{controller:'ts--selectrev'}} %>
        <% else %>
              <%= form.select :persona_id, 
                Persona.where(estado:'A', tipopersona_id:4).order(:paterno).collect {|p| [((p.paterno||'')+' '+(p.materno||'')+' '+(p.nombre||'')), p.id]}, 
                {include_blank: true},
                {class:"form-control", data:{controller:'ts--selectrev'}} %>
        <% end %>        
      </div>       
  </td>
   <% if swcorr == 'S' %>   
      <td>
      <div class="d-flex justify-content-center">
            <%= form.check_box :corresponsal, value:'N'%> 
      </div>  
      </td>
   <% end %>  
   <% if @producto.prodgrupo.clave == 'PROY' %> 
            <td>
              <div class="d-flex justify-content-center">
                    <%= form.text_field :porcentaje, class:'porcentaje' %> 
              </div>  
            </td>
   <% end %>

  <td>
    <div class="d-flex justify-content-center"> 
       <%= link_to "#", data:{ action:"click->autoria#quitarPart" } do  %>
           Eliminar
       <% end %>  
     </div>  
  </td>
</tr>
