<tr class="rwautor">
  <td> 
       <%= form.hidden_field :_destroy %>  
       <%= form.hidden_field :rol_id, value:'1' %>
       <%= form.hidden_field :persona_id, value:211 %>
       <%= form.text_field :firma, class:"form-control", placeholder:"Escriba el nombre" %>
  </td>
  <td>
       <%= form.check_box :corresponsal, value:'N' %> 
  </td>
  <td>
     <%= link_to "#", data:{ action:"click->autoria#quitarPart" } do  %>
           Eliminar
     <% end %>  
  </td>
</tr>