
    <% if params[:action] == 'new' %> 
        <%= form.hidden_field :producto_id, value: @producto.id %>
        <%= form.hidden_field :personaid, value:current_usuario.persona_id %> 
        <%= form.hidden_field :estado, value:'A' %>
        <%= form.hidden_field :periodo, value:'2021' %>
        <%= form.hidden_field :fuente, value:'M' %>
    <% end %>    

    <% if params[:action] == 'edit' %> 
         <%= form.hidden_field :estado, value:'U' %>
         <% if @actividad.estado == 'G' %> 
                <div class="alert alert-danger" role="alert"><%=  @actividad.valetapas.where(activo:'SI').first.txtmensaje   %></div>
         <% end %>   
        
    <% end %>  
  