<%= form_with(model:[:actividades, actividad])  do |form| %>
     <%= render "form_inputs_com", form:form %>     
     
     <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :titulo, "Nombre del curso:", class:"form-label " %>
        </div>
        <div class="col-md-6 d-flex justify-content-start">
              <%= form.text_field :titulo, class:"form-control" %>
        </div>
     </div> 

    
      <%= form.fields_for :curso do |cur_form| %>
            <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :tipocurso_id, "Tipo impartición:", class:"form-label " %>
                </div>
                <div class="col-md-4 d-flex justify-content-start">
                     <%=  cur_form.select :tipocurso_id, Tipocurso.all.pluck(:nomtipocurso,:id), { :include_blank=>'Tipo de impartición'}, class:"form-control" %>
                </div>
            </div> 

             <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :fini, "Feha inicio:", class:"form-label " %>
                </div>
                <div class="col-md-2 d-flex justify-content-start">
                     <%= cur_form.date_field :fini, class:"form-control" %>
                </div>
             </div> 

             <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :ffin, "Feha termino:", class:"form-label " %>
                </div>
                <div class="col-md-2 d-flex justify-content-start">
                     <%= cur_form.date_field :ffin, class:"form-control" %>
                </div>
             </div> 

             <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :hcurso, "Total de horas del curso:", class:"form-label" %>
                </div>
                <div class="col-md-1 d-flex justify-content-start">
                     <%= cur_form.text_field :hcurso, class:"form-control" %>
                </div>
             </div> 

             <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :himpartidas, "Horas impartidas:", class:"form-label " %>
                </div>
                <div class="col-md-1 d-flex justify-content-start">
                     <%= cur_form.text_field :himpartidas, class:"form-control"%>
                </div>
             </div> 

             <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :creditos, "Creditos:", class:"form-label " %>
                </div>
                <div class="col-md-1 d-flex justify-content-start">
                     <%= cur_form.text_field :creditos, class:"form-control" %>
                </div>
             </div> 

             <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :noalumnos, "No. de alumnos:", class:"form-label " %>
                </div>
                <div class="col-md-1 d-flex justify-content-start">
                     <%= cur_form.text_field :noalumnos, class:"form-control"%>
                </div>
             </div> 

             <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :coordinador, "¿Coordinador del Curso?:", class:"form-label " %>
                </div>
                <div class="col-md-1 d-flex justify-content-start">
                     <div class="form-check form-switch"><%= cur_form.check_box :coordinador, class:"form-check-input" %></div>
                </div>
             </div> 

      
    <% end %>   

    <%= render "doc_comprobante", form:form %>
    <%= render "red_acad", form:form  %>
    <div class="row">
                <div class="col-md-2 d-flex justify-content-end"> 
                            Impartido por:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
    </div> 
    

<% end %>