<div data-controller="modal modalcap">   
        <%= form_with model:[:actividades, actividad] do |form| %>
            <%= render "form_inputs_com", form:form %>

            <div class="row">
                <div class="mb-3 col-md-12">
                    <%= form.label :titulo, "Título:", class:"form-label" %>
                    <%= form.text_field :titulo, class:"form-control" %>
                </div>  
            </div>   
            
            <div class="row">
                <div class="mb-3 col-md-3">
                    <%= form.label :fechapub, "Fecha de publicación:", class:"form-label" %>
                    <%= form.date_field :fechapub, class:"form-control" %>
                </div>  
            </div>   

            <%= render "form_art_c", form:form if @parts[1] == 'C' %>
            <%= render "form_art_d", form:form if @parts[1] == 'D' %>
            <%= render "form_art_p", form:form if @parts[1] == 'P' %>
        
            <%= render "doc_comprobante", form:form %>

            <%= render "form_autores", form:form, swcorr:'S' %>
            
            <%= render "red_acad", form:form  %>
        
            

            <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-center">
                     <%= form.submit "Enviar información", class:'btn btn-primary' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
            </div>
        <% end %>
        <div> <%= render 'modal_art' %></div>
        </div>
</div>        