<%= form_with model:[:actividades, actividad] do |form| %>
    <%= render "form_inputs_com", form:form %>
    <% if @parts[1] == 'IND' %>
         <%= form.hidden_field :titulo, value:'Registro de protección Industrial' %>
    <% end %>
    <% if @parts[1] == 'INT' %>
         <%= form.hidden_field :titulo, value:'Registro de protección Intelectual' %>
    <% end %>
    <div class="row">
         <%= form.fields_for :patente do |pt_form| %>
               <div class="col-6">
                  <div class="form-group">
                        <%=  pt_form.label :tipopatente_id, "Tipo de patente:" %>
                        <% if @parts[1] == 'IND' %>
                          <%=  pt_form.select :tipopatente_id, Tipopatente.where("clave='IND'").all.pluck(:nomtipopatente,:id), { :include_blank=>'Seleccion el tipo de patente'},class:"form-control" %>
                        <% end %>  
                        <% if @producto.prodgrupo.clave == 'INT' %>
                          <%=  pt_form.select :tipopatente_id, Tipopatente.where("clave='INT'").all.pluck(:nomtipopatente,:id), { :include_blank=>'Seleccion el tipo de patente'},class:"form-control" %>
                        <% end %>  
                  </div> 
               </div>   
         <% end %>   
         <div class="mb-3 col-md-3">
               <%= form.label :anio, "Año:", class:"form-label" %>
               <%= form.text_field :anio, class:"form-control" %>
         </div>  
    </div>   

    
    <%= render "doc_comprobante", form:form %>
    <%= render "form_autores", form:form, swcorr:'N' %>
    
    <%= render "red_acad", form:form  %>

    <div class="row mt-md-3">
        <div class="col">
            <%= form.submit "Enviar información", class:'btn btn-primary' ,data: { confirm: 'La información será enviada para validación. ¿Desea continuar?' }  %>
        </div> 
    </div>
<% end %>