<!--
<div class="card bg-light" data-controller="autoria">
 <div class="card-body">
   <div class="row justify-content-center">
      <div class="col">
       <h5 id="autores fw-bold">Autores</h5>
       
      </div> 
      
        
   </div> 
   <div class="row justify-content-center">
      

      <template data-autoria-target='tmpAutor'>
        <%= form.fields_for :autores, Autor.new, child_index: 'TEMPLATE_RECORD_AUTOR' do |autor| %>
              <%= render 'autoria_fields', form: autor, swcorr:swcorr %>
        <% end %>
      </template> 
      <template data-autoria-target='tmpAutorExt'>
        <%= form.fields_for :autores, Autor.new, child_index: 'TEMPLATE_RECORD_AUTOR_EXT' do |autor| %>
              <%= render 'autoria_fields_ext', form: autor, swcorr:swcorr %>
        <% end %>
      </template> 
      <div class="col-8">
        <% if @producto.prodgrupo.clave != 'PROY' %>
          
        <% else %>
               <small class="text-primary font-weight-bold">La suma de porcentajes de participación debe ser 100.</small>
        <% end %>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th><div class="d-flex justify-content-center">Nombre</div></th>
                    <% if swcorr == 'S' %> 
                      <th><div class="d-flex justify-content-center">Corresponsal</div></th>
                    <% end %>  
                    <% if @producto.prodgrupo.clave == 'PROY' %>
                        <th><div class="d-flex justify-content-center">% de participación</div></th>    
                    <% end %>
                    
                    <th></th>
                </tr>    
            </thead>
            <tbody data-autoria-target="rwsAutores">
                <tr><td colspan='3'>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa-solid fa-user-plus"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% Tipoautor.all.each do |t| %>
                            <% if t.clave == 'ACINECOL' %>
                                <%= link_to "#", data:{ action: "click->autoria#nuevoPart" }, class:"dropdown-item" do %>
                                    <%= t.nomtipoautor %>
                                <% end %>
                            <% end %>
                            <% if t.clave == 'EXTERNO' && @producto.prodgrupo.clave != 'PROY' %>
                                <%= link_to "#", data:{ action: "click->autoria#nuevoPartExt" }, class:"dropdown-item" do %>
                                    <%= t.nomtipoautor %>
                                <% end %>
                            <% end %>

                        <% end %> 
                    </div>
               </div>
            </td></tr>
                <% if  @actividad.autores.any? %>
                      <% @actividad.autores.each do |aut| %>
                            <% if aut.persona_id == 211 || aut.persona_id == 212 %>
                                  <% if aut.persona_id == 211  %>
                                        <%= form.fields_for :autores, @actividad.autores.where(id:aut.id) do |autor| %>
                                              <%= render 'autoria_fields_ext', form: autor, swcorr:swcorr %>
                                          <% end %>
                                  <% end %>
                                  <% if aut.persona_id == 212  %>
                                        <%= form.fields_for :autores, @actividad.autores.where(id:aut.id) do |autor| %>
                                              <%= render 'autoria_fields_ext', form: autor, swcorr:swcorr %>
                                          <% end %>
                                  <% end %>
                            <% else %>
                                     <%= form.fields_for :autores, @actividad.autores.where(id:aut.id) do |autor| %>
                                            <%= render 'autoria_fields', form: autor, swcorr:swcorr %>
                                     <% end %>
                            <% end %>      

                      <% end %>
                         
                <% end %>    

            </tbody>
        </table>

        
      
      </div>
   </div>
 </div>  
</div>
-->


<div id="cont_rws" class="col mt-4" data-controller="autores">
    <div class="row text-secondary">
       <% if ![9,50,51,59,60,61,62,66].include? @producto.id %>
          <div class="col"> 
             Para ingresar un académico del inecol, al momento de escribir los apelldios, se mostrará una lista con
             las coincidencias, debe seleccione el nombre correcto de la lista. Para autores externos, escribir los apellidos y nombres.
          </div>   
       <% end %>
    </div>

    <div class="row mb-3">
        <template data-autores-target="tplautor">
            <%= form.fields_for :autores, Autor.new, child_index: 'RW_AUTOR' do |autor| %>
                    <%= render 'form_autor_fields', form: autor %>
            <% end %>
        </template>
        
        <div data-autores-target="contautores" class="container"> 
            <%= form.fields_for :autores do |autor| %>
                 <% if [9,50,51,59,60,61,62,66].include? @producto.id %> 
                         <%= render 'form_autor_hidden', form: autor %> 
                 <% else %> 
                         <%= render 'form_autor_fields', form: autor %>                         
                 <% end %>
            <% end %>
        </div>    
    </div>
</div>