<%= form_with model:[:actividades, actividad] do |form| %>
    <%= render "form_inputs_com", form:form %>
    <div class="row mb-1">
           <div class="col-md-2 d-flex justify-content-end"> 
                <%= form.label :titulo, "Título:", class:"form-label fw-bold text-secondary" %>
            </div>
            <div class="col-md-6 d-flex justify-content-start">
                <%= form.text_field :titulo, class:"form-control" %>
            </div>
    </div>
    <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :anio, "Año de publicación:", class:"form-label fw-bold text-secondary" %>
        </div>
        <div class="col-md-1 d-flex justify-content-start">
              <%= form.text_field :anio, class:"form-control" %>
        </div>
   </div> 
   
   
        <%= form.fields_for :libroarbitrado do |lib_form| %>
                  <%= lib_form.hidden_field :editorial_id, value:1 %>  
                  <div class="row  mb-1">
                        <div class="col-md-2 d-flex justify-content-end"> 
                             <%= lib_form.label :nopaginas, "Número de páginas:", class:"form-label fw-bold text-secondary" %>
                        </div>
                        <div class="col-md-1 d-flex justify-content-start">
                             <%= lib_form.text_field :nopaginas, class:"form-control" %>
                        </div>
                   </div> 
                   <div class="row  mb-1">
                        <div class="col-md-2 d-flex justify-content-end"> 
                             <%= lib_form.label :idioma_id, "Idioma:", class:"form-label fw-bold text-secondary" %>
                        </div>
                        <div class="col-md-2 d-flex justify-content-start">
                            <%=  lib_form.select :idioma_id, Idioma.all.pluck(:nomidioma,:id), { prompt:'-- Seleccione --'}, class:"form-control" %>
                        </div>
                   </div> 
                   <div class="row  mb-1">
                        <div class="col-md-2 d-flex justify-content-end"> 
                             <%= lib_form.label :isbn, "Isbn:", class:"form-label fw-bold text-secondary" %>
                        </div>
                        <div class="col-md-3 d-flex justify-content-start">
                            <%= lib_form.text_field :isbn, class:"form-control" %>
                        </div>
                   </div> 
                
        <% end %>       
   

    <%= render "doc_comprobante", form:form %>
    <%= render "red_acad", form:form  %>

    <div class="row">
                <div class="col-md-2 d-flex justify-content-end fw-bold"> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
   </div>
<% end %>