

<%= form_with model:[:actividades, actividad] do |form| %>
    <%= render "form_inputs_com", form:form %>
    

        <div class="row mb-1">
                  <div class="col-md-2 d-flex justify-content-end"> 
                     <%= form.label :titulo, "Título de la Ficha:", class:"form-label " %>
                  </div>
                  <div class="col-md-6 d-flex justify-content-start">
                     <%= form.text_field :titulo, class:"form-control" %>
                  </div>
        </div>
        <div class="row mb-1">
                  <div class="col-md-2 d-flex justify-content-end"> 
                        <%= form.label :fechapub, "Fecha de publicacion:", class:"form-label " %>
                  </div>
                  <div class="col-md-2 d-flex justify-content-start">
                        <%= form.date_field :fechapub, class:"form-control" %>
                  </div>
        </div>


        <%= form.fields_for :ficha do |ficha| %>
                 <div class="row mb-1">
                    <div class="col-md-2 d-flex justify-content-end"> 
                        <%= ficha.label :nommedio, "Medio de publicación:", class:"form-label " %>
                    </div>
                    <div class="col-md-5 d-flex justify-content-start">
                         <%=  ficha.text_field :nommedio ,class:"form-control" %>
                    </div>
                </div>
        <% end %>       


    <%= render "doc_comprobante", form:form %>
    <%= render "red_acad", form:form  %>
    <div class="row">
                <div class="col-md-2 d-flex justify-content-end fw-bold"> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
   </div>
<% end %>