<%= form_with model:[:actividades, actividad] do |form| %>
    <%= render "form_inputs_com", form:form %>
    
    <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :titulo, "Nombre de la actividad:", class:"form-label fw-bold text-secondary" %>
        </div>
        <div class="col-md-6 d-flex justify-content-start">
              <%= form.text_field :titulo, class:"form-control" %>
        </div>
     </div> 
     <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :anio, "Año:", class:"form-label fw-bold text-secondary" %>
        </div>
        <div class="col-md-1 d-flex justify-content-start">
              <%= form.text_field :anio, class:"form-control" %>
        </div>
     </div> 

    <%= render "doc_comprobante", form:form %>
    <%= render "red_acad", form:form  %>
    <div class="row">
                <div class="col-md-2 d-flex justify-content-end fw-bold"> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
    </div> 

<% end %>