<%= form_with model:[:actividades, actividad] do |form| %>
    <%= render "form_inputs_com", form:form %>
    
    <div class="row mb-1">
           <div class="col-md-2 d-flex justify-content-end"> 
                <%= form.label :titulo, "Título:", class:"form-label fw-bold text-secondary" %>
            </div>
            <div class="col-md-6 d-flex justify-content-start">
                <%= form.text_field :titulo, class:"form-control" %>
            </div>
    </div>
    <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :fechapub, "Fecha de publicación:", class:"form-label fw-bold text-secondary" %>
        </div>
        <div class="col-md-2 d-flex justify-content-start">
              <%= form.date_field :fechapub, class:"form-control" %>
        </div>
   </div> 

    <div class="row">
        <%= form.fields_for :fasciculo do |fasc| %>
                 
                  <div class="row  mb-1">
                      <div class="col-md-2 d-flex justify-content-end"> 
                             <%=  fasc.label :tipofasciculo_id, "Número de especies:", class:"form-label fw-bold text-secondary" %>
                      </div>  
                      <div class="col-md-4 d-flex justify-content-start">  
                             <%=  fasc.select :tipofasciculo_id, Tipofasciculo.all.pluck(:nomtipofasciculo,:id), { :include_blank=>'No. de especies'},class:"form-control" %>
                      </div>       
                  </div>    
                  <div class="row  mb-1">
                      <div class="col-md-2 d-flex justify-content-end"> 
                             <%=  fasc.label :tipomedio_id, "Medio de publicación:", class:"form-label fw-bold text-secondary" %>
                      </div>  
                      <div class="col-md-4 d-flex justify-content-start">  
                             <%=  fasc.select :tipomedio_id, Tipomedio.all.pluck(:nomtipomedio,:id), { :include_blank=>'Medio de publicación'},class:"form-control" %>
                      </div>       
                  </div>  

                  <div class="row  mb-1">
                      <div class="col-md-2 d-flex justify-content-end"> 
                             <%=  fasc.label :nommedio, "Nombre libro o revista:", class:"form-label fw-bold text-secondary" %>
                      </div>  
                      <div class="col-md-3 d-flex justify-content-start">  
                            <%=  fasc.text_field :nommedio, class:"form-control", placeholder:"Nombre medio de publicación", class:"form-control" %> 
                      </div>       
                  </div>  

                  <div class="row  mb-1">
                      <div class="col-md-2 d-flex justify-content-end"> 
                             <%=  fasc.label :codigo, "Código ISBN o ISSN:", class:"form-label fw-bold text-secondary" %>
                      </div>  
                      <div class="col-md-3 d-flex justify-content-start">  
                            <%=  fasc.text_field :codigo, class:"form-control", placeholder:"ISBN o ISSN", class:"form-control" %> 
                      </div>       
                  </div>  
                  
                
        <% end %>       
    </div>

    <%= render "doc_comprobante", form:form %>
    <%= render "red_acad", form:form  %>

    <div class="row">
                <div class="col-md-2 d-flex justify-content-end fw-bold"> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
   </div>
<% end %>