    <input type="hidden" name="pathf" id="pathf" value="<%= @producto.pathf %>">
    <% if params[:action] == 'new' %> 
        <%= form.hidden_field :producto_id, value: @producto.id %>

          <% if current_usuario.rol == 'Y' %>  
                <div class="d-flex">
                     <%=  form.select :personaid, Persona.where(estado:'A').order(:paterno).map {|p| [(p.paterno+' '+p.materno+' '+p.nombre), p.id]}, {prompt:'Seleccione...'}  %>
                </div>  
          <% else %>
               <%= form.hidden_field :personaid, value:current_usuario.persona_id %> 
          <% end %>        
        
        <%= form.hidden_field :estado, value:'A' %>
        <%= form.hidden_field :periodo, value:'2024' %>
        <%= form.hidden_field :fuente, value:'M' %>
    <% end %>    

    <% if params[:action] == 'edit' %> 
        
         <% if @actividad.estado == 'G' %> 
               <% if @actividad.valetapas.where(activo:'SI').any? %>
                  <% if @actividad.valetapas.where(activo:'SI').first.etapa == 'CR' %>   
                       <%= form.hidden_field :estado, value:'U' %>
                  <% end %>  
                  <% if @actividad.valetapas.where(activo:'SI').first.etapa == 'SA' %>   
                       <%= form.hidden_field :estado, value:'C' %>
                  <% end %>  
               <% end %>   
                 <div class="alert alert-danger" role="alert"><%=  @actividad.valetapas.where(activo:'SI').last.txtmensaje   %></div>
         <% end %>   
        
    <% end %>  
  