<%= form.fields_for :articulo do |artc| %>

   <div class="row">
        <%= render "medio_revista", artc:artc, tipo:'C' %>
        <div class="mb-3 col-md-1">
               <%= artc.label :volumen, "Volumen:", class:"form-label" %>
               <%= artc.text_field :volumen, class:"form-control" %>
         </div>  
         <div class="mb-3 col-md-1">
               <%= artc.label :issue, "Issue:", class:"form-label" %>
               <%= artc.text_field :issue, class:"form-control" %>
         </div> 
         <div class="mb-3 col-md-2">
               <%= artc.label :pgini, "Página inicial:", class:"form-label" %>
               <%= artc.text_field :pgini, class:"form-control", value:'0' %>
         </div>  
         <div class="mb-3 col-md-2">
               <%= artc.label :pgfin, "Página final:", class:"form-label" %>
               <%= artc.text_field :pgfin, class:"form-control", value:'0' %>
         </div> 
          <div class="mb-3 col-md-2">
               <%= artc.label :eidentificador, "Número electrónico:", class:"form-label" %>
               <%= artc.text_field :eidentificador, class:"form-control" %>
         </div>
         <div class="mb-3 col">
               <%= artc.label :doi, "DOI:", class:"form-label" %>
               <%= artc.text_field :doi, class:"form-control" %>
         </div>  
         
   </div> 
   <div class="row ">  
         <div class="mb-3 col">
               <%= artc.label :abstract, "Abstract:", class:"form-label" %>
               <%= artc.text_area :abstract, class:"form-control" %>
         </div>    
    </div>

   

<% end %>