<%= form_with model:[:actividades, actividad] do |form| %>
     <%= render "form_inputs_com", form:form %>
     <%= form.hidden_field :titulo, value:'Editor' %>

    <div class="row">
     
        <%= form.fields_for :editor do |ed_form| %>
             <%= ed_form.hidden_field :idioma_id, value:"4" %> 
             <div class="row mb-1">
                  <div class="col-md-2 d-flex justify-content-end"> 
                     <%= ed_form.label :tipoeditorid, "Tipo editor:", class:"form-label fw-bold text-secondary" %>
                  </div>
                  <div class="col-md-5 d-flex justify-content-start">
                      <%= ed_form.select :tipoeditorid, Tipoeditor.all.collect { |e| [ e.nomtipoeditor, e.id ] }, { prompt:'-- Seleccione --'},class:"form-control" %>
                  </div>
            </div>
            <div class="row mb-1">
                  <div class="col-md-2 d-flex justify-content-end"> 
                     <%= ed_form.label :medio, "Nombre de la revista o libro:", class:"form-label fw-bold text-secondary" %>
                  </div>
                  <div class="col-md-6 d-flex justify-content-start">
                     <%= ed_form.text_field :medio, class:"form-control"  %> 
                  </div>
            </div>
            <div class="row mb-1">
                  <div class="col-md-2 d-flex justify-content-end"> 
                     <%= ed_form.label :codigo, "ISBN o ISSN:", class:"form-label fw-bold text-secondary" %>
                  </div>
                  <div class="col-md-3 d-flex justify-content-start">
                     <%= ed_form.text_field :codigo, class:"form-control"  %>  
                  </div>
            </div>
            <div class="row mb-1">
                  <div class="col-md-2 d-flex justify-content-end"> 
                     <%= ed_form.label :editorial, "Nombre de la editorial:", class:"form-label fw-bold text-secondary" %>
                  </div>
                  <div class="col-md-4 d-flex justify-content-start">
                     <%= ed_form.text_field :editorial, class:"form-control" %> 
                  </div>
            </div>
            <div class="row mb-1 ">
                  <div class="col-md-2 d-flex justify-content-end"> 
                     <%= ed_form.label :pais, "Lugar de publicación:", class:"form-label fw-bold text-secondary" %>
                  </div>
                  <div class="col-md-3 d-flex justify-content-start">
                     <%= ed_form.text_field :pais, class:"form-control"%> 
                  </div>
                  <div class="col justify-content-start text-secondary "><span class="align-middle">(país o ciudad)</span></div>
            </div>
            <div class="row mb-1">
                  <div class="col-md-2 d-flex justify-content-end"> 
                     <%= ed_form.label :ambito_id, "Ambito de la editorial:", class:"form-label fw-bold text-secondary" %>
                  </div>
                  <div class="col-md-3 d-flex justify-content-start">
                     <%= ed_form.select :ambito_id, Ambito.all.pluck(:nomambito,:id), { prompt:'-- Seleccione --'}, class:"form-control" %>
                  </div>
            </div>
             
        <% end %>
        <div class="row mb-1">
            <div class="col-md-2 d-flex justify-content-end"> 
                 <%= form.label :anio, "Año:", class:"form-label fw-bold text-secondary" %>
            </div>
            <div class="col-md-3 d-flex justify-content-start">
                 <%= form.text_field :anio, class:"form-control" %>
            </div>
       </div>
          
    </div>    
    
    <%= render "doc_comprobante", form:form %>
    <%= render "red_acad", form:form  %>
    <div class="row">
                <div class="col-md-2 d-flex justify-content-end fw-bold"> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

   <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
   </div>
<% end %>