<%= form_with model: [:actividades, actividad]  do |form| %>
     <%= render "form_inputs_com", form:form %>
     <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :titulo, "Título de la tesis:", class:"form-label " %>
        </div>
        <div class="col-md-6 d-flex justify-content-start">
              <%= form.text_field :titulo, class:"form-control" %>
        </div>
     </div> 

     <%= form.fields_for :tesista do |tesis_form| %>
            <%= tesis_form.hidden_field :acta, value:'0000' %>

            <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                       <%= tesis_form.label :nivelestudio_id, "Nivel:", class:"form-label " %>
                </div>
                <div class="col-md-3 d-flex justify-content-start">
                       <%=  tesis_form.select :nivelestudio_id, Nivelestudio.all.pluck(:nomnivel,:id), { :include_blank=>'Nivel académico'}, class:'form-control' %>
                </div>
            </div>
            <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                       <%= tesis_form.label :fgrado, "Feha del exámen de grado:", class:"form-label " %>
                </div>
                <div class="col-md-2 d-flex justify-content-start">
                       <%= tesis_form.date_field :fgrado, class:"form-control" %>
                </div>
            </div> 

            <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                       <%= tesis_form.label :efterminal, "¿Eficiencia terminal?:", class:"form-label " %>
                </div>
                <div class="col-md-2 d-flex justify-content-start">
                       <%=  tesis_form.select :efterminal, options_for_sino, {:include_blank=>'- Seleccione una opción -'},{class:"form-control"}  %> 
                </div>
            </div> 
  
      <% end %>  

      <%= render "doc_comprobante", form:form %>
      <%= render "red_acad", form:form  %>
 
      <div class="row">
                <div class="col-md-2 d-flex justify-content-end"> 
                            Director/Coodirector:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row d-flex justify-content-end mt-4">
                <div class="col-3">
                    <div class="row">
                        <div class="col"><%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %></div>
                        <div class="col"><%= render "actividades/actividades/items/btncancel" %></div>
                    </div>
                </div> 
    </div>
<% end %>