<%= form_with model: [:actividades, actividad]  do |form| %>
     <%= render "form_inputs_com", form:form %>
     <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :titulo, "Título de la tesis:", class:"form-label " %>
        </div>
        <div class="col-md-6 d-flex justify-content-start">
              <%= form.text_field :titulo, class:"form-control" %>
        </div>
     </div> 

     <%= form.fields_for :tesista do |tesis_form| %>
         
         
            <%= tesis_form.hidden_field :acta, value:'0000' %>
            <%= tesis_form.hidden_field :efterminal, value:'EX' %>
            <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                       <%= tesis_form.label :nivelestudio_id, "Nivel:", class:"form-label " %>
                </div>
                <div class="col-md-3 d-flex justify-content-start">
                       <%=  tesis_form.select :nivelestudio_id, Nivelestudio.all.pluck(:nomnivel,:id), { :include_blank=>'Nivel académico'}, class:'form-control' %>
                </div>
            </div>
            <div class="row  mb-1">
                <div class="col-md-2 d-flex justify-content-end"> 
                       <%= tesis_form.label :fgrado, "Feha del exámen de grado:", class:"form-label " %>
                </div>
                <div class="col-md-2 d-flex justify-content-start">
                       <%= tesis_form.date_field :fgrado, class:"form-control" %>
                </div>
            </div> 

  
      <% end %>  

      <%= render "doc_comprobante", form:form %>
      <%= render "red_acad", form:form  %>
 
      <div class="row">
                <div class="col-md-2 d-flex justify-content-end"> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
    </div> 
 
<% end %>