<%= form_with model:[:actividades, actividad] do |form| %>
    <%= render "form_inputs_com", form:form %>
    <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :titulo, "Nombre de la actividad:", class:"form-label " %>
        </div>
        <div class="col-md-6 d-flex justify-content-start">
              <%= form.text_field :titulo, class:"form-control" %>
        </div>
     </div> 
     <div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
              <%= form.label :anio, "Año:", class:"form-label" %>
        </div>
        <div class="col-md-1 d-flex justify-content-start">
              <%= form.text_field :anio, class:"form-control" %>
        </div>
     </div> 
    <%= form.fields_for :vinculacion do |vin_form| %>
                <%= vin_form.hidden_field :tipovinculacion, value:"PP" %> 
                <% if @producto.prodgrupo.clave == 'DECRETO' %>
                         <div class="row  mb-1">
                            <div class="col-md-2 d-flex justify-content-end"> 
                                  <%= form.label :niveldecreto, "Nivel:", class:"form-label " %>
                            </div>
                            <div class="col-md-3 d-flex justify-content-start">
                                  <%= vin_form.select :niveldecreto, options_for_select(@niveldecreto), { :include_blank=>'-Nivel de gobierno-'}, class:"form-control"  %> 
                            </div>
                          </div>    
                <% end %> 
                <% if @producto.prodgrupo.clave == 'ORDENAMIENTO' %>
                          <div class="row  mb-1">
                              <div class="col-md-2 d-flex justify-content-end"> 
                                    <%= form.label :ordenamiento, "Fase:", class:"form-label " %>
                              </div>
                              <div class="col-md-3 d-flex justify-content-start">
                                    <%= vin_form.select :ordenamiento, options_for_select(@ordenamiento), { :include_blank=>'-Fase-'}, class:"form-control"  %> 
                              </div>
                          </div>  
                <% end %> 
                <% if @producto.prodgrupo.clave == 'INICIATIVA' %>
                          <div class="row  mb-1">
                              <div class="col-md-2 d-flex justify-content-end"> 
                                    <%= form.label :niveliniciativa, "Nivel:", class:"form-label " %>
                              </div>
                              <div class="col-md-3 d-flex justify-content-start">
                                    <%= vin_form.select :niveliniciativa, options_for_select(@niveliniciativa), { :include_blank=>'-Nivel de gobierno-'}, class:"form-control"  %> 
                              </div>
                          </div>  
                <% end %> 
                <% if @producto.prodgrupo.clave == 'REGLA' %>
                         <div class="row  mb-1">
                              <div class="col-md-2 d-flex justify-content-end"> 
                                    <%= form.label :nivelregla, "Nivel:", class:"form-label " %>
                              </div>
                              <div class="col-md-3 d-flex justify-content-start">
                                    <%= vin_form.select :nivelregla, options_for_select(@nivelregla), { :include_blank=>'-Nivel de gobierno-'}, class:"form-control"  %> 
                              </div>
                          </div>  
                <% end %> 
                <% if @producto.prodgrupo.clave == 'COMITE' %>
                          <div class="row  mb-1">
                              <div class="col-md-2 d-flex justify-content-end"> 
                                    <%= form.label :nivelcomite, "Participación:" , class:"form-label " %>
                              </div>
                              <div class="col-md-3 d-flex justify-content-start">
                                    <%
                                        nivelc = @actividad.vinculacion.nivelcomite
                                    %> 
                                    <% if !nivelc.nil? %>
                                        <% 
                                            nivelc = @actividad.vinculacion.nivelcomite
                                        %>
                                            <%= vin_form.select :nivelcomite, options_for_select(@nivelcomite), {selected:nivelc}, class:"form-control"  %> 
                                    <% else %>
                                            <%= vin_form.select :nivelcomite, options_for_select(@nivelcomite), { :include_blank=>'-Tipo de participación-'}, class:"form-control"  %> 
                                    <% end %> 
                              </div>
                          </div>  
                     
                <% end %> 

    <% end %> 
    
    <%= render "doc_comprobante", form:form %>
    <%= render "red_acad", form:form  %>
    <div class="row">
                <div class="col-md-2 d-flex justify-content-end"> 
                            Participantes:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
    </div>

    <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
    </div> 
<% end %>