<%= form_with(model:[:actividades, actividad])  do |form| %>
   <%= render "form_inputs_com", form:form %>
    <div class="row">
        <div class="mb-3 col-md-8">
            <%= form.label :titulo, "Título o nombre de la actividad:"%>
            <%= form.text_field :titulo, class:"form-control" %>
        </div> 
        <div class="mb-3 col-md-2">
            <%= form.label :anio, "Año:" %>
            <%= form.text_field :anio,class:"form-control" %> 
        </div>    
    </div>

     <%= render "doc_comprobante", form:form %>
     <%= render "form_autores", form:form, swcorr:'N' %>
     <%= render "red_acad", form:form  %>

    <div class="row">
        <div class="col">
           
            <%= form.submit "Enviar información", class:'btn btn-primary' ,data: { confirm: 'La información será enviada para validación. ¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
        </div> 
    </div>
<% end %>