
<div data-controller="modal modalcap">   
        <%= form_with model:[:actividades, actividad] do |form| %>
            <%= render "form_inputs_com", form:form %>
            
            <div class="row mb-1">
                 <div class="col-md-2 d-flex justify-content-end"> 
                       <%= form.label :titulo, "Título:", class:"form-label" %>
                 </div>
                 <div class="col d-flex justify-content-start">
                       <%= form.text_field :titulo, class:"form-control" %>
                 </div>
            </div>
        
            
            <%= render "form_art_c", form:form if @parts[1] == 'C' %>
            <%= render "form_art_d", form:form if @parts[1] == 'D' %>
            <%= render "form_art_p", form:form if @parts[1] == 'P' %>
            <%= render "doc_comprobante", form:form %>
            <%= render "red_acad", form:form  %>
            

            <div class="row">
                <div class="col-md-2 d-flex justify-content-end"> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'S' %>
                </div>
            </div>

            

            <div class="row mt-4">
                <div class="col">
                   <div class="d-flex justify-content-end">
                     <%= form.submit "Enviar información", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %>
                   </div>
                </div> 
            </div>
        <% end %>
        <div> <%= render 'modal_art' %></div>
    </div>
</div>        