<div data-controller="modal modalcap">    
<%= form_with model:[:actividades, actividad] do |form| %>
      <%= render "form_inputs_com", form:form %>

       <div class="row mb-1">
            <div class="col-md-2 d-flex justify-content-end"> 
                 <%= form.label :titulo, "Título:", class:"form-label " %>
            </div>
            <div class="col d-flex justify-content-start">
                 <%= form.text_field :titulo, class:"form-control" %>
            </div>
       </div>
       <div class="row mb-1">
            <div class="col-md-2 d-flex justify-content-end"> 
                 <%= form.label :anio, "Año de publicación:", class:"form-label " %>
            </div>
            <div class="col-md-1 d-flex justify-content-start">
                 <%= form.text_field :anio, class:"form-control" %>
            </div>
       </div>

        <%= form.fields_for :capitulo do |cap_form| %>
                        <div class="row  mb-1">
                                <div class="col-md-2 d-flex justify-content-end"> 
                                    <%= cap_form.label :pgini, "Páginas:", class:"form-label " %>
                                </div>
                                <div class="col-md-6 d-flex justify-content-start">
                                    <div class="row row-cols-auto"> 
                                        <div class="col-md-3"><%= cap_form.text_field :pgini, class:"form-control", placeholder:"Pg. Inicial" %></div>
                                        <div class="col">-</div>
                                        <div class="col-md-3"><%= cap_form.text_field :pgfin, class:"form-control", placeholder:"Pg. Final" %></div>
                                    </div>     
                                </div>      
                        </div>   
                        <div class="row mb-1">
                                <div class="col-md-2 d-flex justify-content-end"> 
                                      <%= cap_form.label :idioma_id, "Idioma:", class:"form-label " %>
                                </div>
                                <div class="col-md-3 d-flex justify-content-start">
                                      <%=  cap_form.select :idioma_id, Idioma.all.pluck(:nomidioma,:id), { :include_blank=>'Idioma'},class:"form-control" %>
                                </div>
                        </div>
                        
                        <%= render "medio_libro", cap_form:cap_form %>
                        
        <% end %>       

            <%= render "doc_comprobante", form:form %>
            <%= render "red_acad", form:form  %>

            <div class="row">
                <div class="col-md-2 d-flex justify-content-end "> 
                            Autores:
                </div>
                <div class="col d-flex justify-content-start">
                      <%= render "form_autores", form:form, swcorr:'N' %>
                </div>
            </div>

            <div class="row d-flex justify-content-end mt-4">
                <div class="col-3">
                    <div class="row">
                        <div class="col"><%= form.submit "Registrar", class:'btn btn-success' ,data: { confirm: '¿Desea continuar?', disable_with: "Enviando información, un momento..." }  %></div>
                        <div class="col"><%= render "actividades/actividades/items/btncancel" %></div>
                    </div>
                </div> 
            </div>
<% end %>

<div> <%= render 'modal_cap_libro' %></div>
</div>