<div class="row" data-controller="modal modalalert">
 <div class="d-flex fw-bold">Producción 2022 </div>

          <table class="table table-sm ">
                    <thead>
                         
                         <tr >
                              <th scope="col" style="width: 5%"><div class="d-flex justify-content-center text-secondary">Folio</div></th>
                              <th scope="col" style="width: 20%"><div class="d-flex justify-content-center text-secondary"> Producto</div></th>
                              <th scope="col" style="width: 9%"></th>
                              <th scope="col" style="width: 45%"><div class="d-flex justify-content-center text-secondary"> Título</div></th>
                              
                              <th scope="col" style="width: 9%"><div class="d-flex justify-content-center text-secondary"> Vo.Bo.</div></th>
                              
                              <th scope="col" style="width: 5%">
                                   <div class="d-flex justify-content-center text-secondary"> 
                                        <% if current_usuario.rol == 'I' || current_usuario.rol == 'C' %>
                                        Coor. Red
                                        <% else %>
                                        Comité
                                        <% end %>    
                                   </div>
                              </th>

                              <th scope="col" style="width: 6%"><div class="d-flex justify-content-center text-secondary"> Sec. Acad</div></th>
                         </tr>
                    </thead>

                    <tbody class="border-top-0">
                         <% if @actividades.any? %>
                                   <% @actividades.each do |a| 
                                        row_show = 'S'
                                        if [22,39,82,83].include? a.producto_id
                                             if a.fuente == 'V' || a.fuente == 'P'
                                                  row_show = 'N'
                                             end    
                                        end

                                        if row_show == 'S' 
                                        
                                   %>
                                   
                                   

                                   <tr>
                                        <td> <div class="d-flex justify-content-center"> <%= a.id %> </div> </td>
                                        <td> 
                                        
                                             <span class="d-inline-block " data-toggle="tooltip" data-placement="top" title="<%= a.producto.descripcion %>">
                                                  <%= a.producto.descripcion %>
                                                   <% if a.producto.prodgrupo.clave == 'OTRASD' %>
                                                       -<I><%= a.divulgacion.tipodivulgacion.nomtipodivulgacion %></I>
                                                   <% end %> 
                                             </span>
                                        
                                        </td>
                                        <td>
                                        
                                             <%= render "actividades/actividades/show/attached", a:a %>
                                        
                                        </td>
                                        <td> <div class="row justify-content-left"> 
                                                  <div>
                                                      <%= a.titulo %>
                                                  </div>    
                                                  <div class="text-primary">
                                                       <%= link_to "Ver registro", actividades_actividad_path(a.id), data:{turbolinks:false}, class:"text-decoration-none fst-italic" %>
                                                  </div>
                                                  
                                             </div> 
                                             <% if a.producto.prodgrupo.clave == 'PROY' 
                                                  @t_porcentaje = Autor.where(actividad_id:a.id).sum(:porcentaje).to_f
                                             %>
                                             <% if current_usuario.persona_id == a.personaid %>
                                                  <% if @t_porcentaje < 100 %>
                                                       <div class="alert alert-primary font-weight-bold" role="alert">Debe agregar a los participantes y el porcentaje de colaboración, haga clic en el siguiente link: 
                                                            <%= link_to "Participantes", edit_actividades_actividad_path(a), class:"text-success" %> <i class="fas fa-users"></i>
                                                       </div>
                                                  <% end %>  
                                             <% end %>  
                                             <% end %>

                                             <% if a.estado == 'G' %>
                                                  <div class="d-flex justify-content-left alert alert-danger" role="alert">
                                                  <small>
                                                       <strong>Vaya al siguiente link para corregir:  <%= link_to "Corregir", edit_actividades_actividad_path(a.id) %></strong>
                                                  </small> 
                                                            
                                                  </div>
                                             <% end %>  

                                             <% if a.estado == 'D' %>
                                                  <div class="d-flex justify-content-left">
                                                  <small>
                                                       <strong><i class="fas fa-comment-alt text-danger"></i> <%= link_to "No en apego normativa", actividades_actividad_path(a.id), title: 'Haga clic para ver motivo', class:'text-danger'%></strong>
                                                  </small> 
                                                            
                                                  </div>
                                             <% end %>   

                                             <% if [81,85,10].include? a.producto_id %>
                                                  <%  autores = Autor.where(actividad_id:a.id, persona_id:current_usuario.persona_id).first  %>
                                                  <% if autores.aplicar == 'N' %>      
                                                       <div class="d-flex justify-content-left">
                                                                 <small>
                                                                      <strong><i class="fas fa-comment-alt text-danger"></i> <%= link_to "No en apego normativa", actividades_actividad_path(a.id), title: 'Haga clic para ver motivo', class:'text-danger'%></strong>
                                                                 </small> 
                                                            </div>
                                                  <% end %>      
                                                  
                                             <% end %>
                                        </td>
                                        
                                        <td id="actividad<%= a.id %>">
                                        <div class="d-flex justify-content-center"> 
                                             <% if a.estado == 'A' %>
                                                   <span class="" data-action="click->modalalert#modalshow" ><i class="fas fa-check-circle"></i> Validar </span>
                                             <% else %> 
                                                       <i class="fas fa-check-double text-success"></i>
                                             <% end %>   
                                        </div>    
                                        </td>
                                        
                                        <% if current_usuario.rol == 'I' || current_usuario.rol == 'C' %> 
                                             <%= render "navs/col_validacion", activ:a %>
                                        <% elsif current_usuario.rol == 'T'  %>
                                             
                                                            <% if current_usuario.persona_id == a.personaid %>
                                                                      <%= render "navs/col_valida_tecnico", activ:a %>
                                                            <% else %>
                                                                      <%= render "navs/col_validacion", activ:a %>
                                                            <% end %>
                                             
                                        <% else %>
                                             <strong>-</strong> 
                                        <% end %> 
                                                            
                                   </tr> 
                                   <% end %>   
                              <% end %>
                         <% else %>
                              <tr> 
                                <td colspan="7"> No se han registrado productos </td>
                              </tr>
                         <% end %>     
                    </tbody>

               </table> 
        <div><%= render 'modal_alert' %></div>
</div>