<table class="table table-sm " style="font-size:14px;">
              <thead>
                  
                  <tr >
                      <th scope="col" style="width: 5%"><div class="d-flex justify-content-center">Folio</div></th>
                      <th scope="col" style="width: 20%"><div class="d-flex justify-content-center"> Producto</div></th>
                      <th scope="col" style="width: 9%"></th>
                      <th scope="col" style="width: 45%"><div class="d-flex justify-content-center"> Título</div></th>
                      
                      <th scope="col" style="width: 9%"><div class="d-flex justify-content-center"> Vo.Bo.</div></th>
                      <th scope="col" style="width: 5%"><div class="d-flex justify-content-center"> Coor. Red</div></th>
                      <th scope="col" style="width: 6%"><div class="d-flex justify-content-center"> Sec. Acad</div></th>
                  </tr>
              </thead>

              <tbody>
                 
                  <% @actividades.each do |a| %>
                     <tr>
                         <td> <div class="d-flex justify-content-center"> <%= a.id %> </div> </td>
                         <td> <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="<%= a.producto.descripcion %>"><%= a.producto.descripcion %></span> </td>
                         <td>
                             <% if a.producto.prodgrupo.clave != 'PROY'  %>
                                <%= render "actividades/actividades/show/attached", a:a %>
                             <% end %>   
                         </td>
                         <td> <div class="d-flex justify-content-left"> 
                                   <%= link_to a.titulo, actividades_actividad_path(a.id), data:{turbolinks:false}, class:"text-primary" %>
                              </div> 
                              <% if a.producto.prodgrupo.clave == 'PROY' 
                                    @t_porcentaje = Autor.where(actividad_id:a.id).sum(:porcentaje).to_f
                              %>
                                  <% if current_usuario.persona_id == a.personaid %>
                                    <% if @t_porcentaje < 100 %>
                                           <div class="alert alert-primary font-weight-bold" role="alert">Debe agregar a los participantes y el porcentaje de colaboración, haga clic en el siguiente link: 
                                                 <%= link_to "Participantes", edit_actividades_actividad_path(a), class:"text-success" %> <i class="fas fa-users"></i>
                                           </div>
                                    <% end %>  
                                  <% end %>  
                              <% end %>

                              <% if a.estado == 'G' %>
                                    <div class="d-flex justify-content-left alert alert-danger" role="alert">
                                       <small>
                                            <strong>Vaya al siguiente link para corregir:  <%= link_to "Corregir", edit_actividades_actividad_path(a.id) %></strong>
                                       </small> 
                                             
                                    </div>
                              <% end %>  
                              <% if a.estado == 'D' %>
                                    <div class="d-flex justify-content-left">
                                       <small>
                                            <i class="fas fa-comment-alt text-danger"></i> <span class="text-danger">No cumple con la normativa.</span> <strong><%= link_to "Ver motivo", actividades_actividad_path(a.id), class:'text-danger' %></strong>
                                       </small> 
                                             
                                    </div>
                              <% end %>   
                         </td>
                         
                         <td id="actividad<%= a.id %>">
                           <div class="d-flex justify-content-center"> 
                                <% if a.estado == 'A' %>
                                    <%= link_to validar_path(a,'user'), remote:true, class:'text-muted', data:{confirm:"¿Desea validar el registro? Al aceptar no podrá hacer cambios. Asegurarse de la correcta categorización, ver Cap VIII, 8.IV lineamientos", disabled_with: "Enviando.."} do %>
                                        <i class="fas fa-check-circle text-warning"></i> <span>Validar</span>
                                    <% end %>
                                <% else %> 
                                        <i class="fas fa-check-double text-success"></i>
                                <% end %>   
                            </div>    
                         </td>
                         
                         <%= render "navs/col_validacion", activ:a %>
                        
                     <tr> 
                  <% end %>
              </tbody>

         </table> 