<div class="row  mb-1">
        <div class="col-md-2 d-flex justify-content-end"> 
               <% if tipo == 'P' %>     
                         <%= artc.label :revista_id, "Revista/Periódico:", class:"form-label " %>
               <% else %>
                         <%= artc.label :revista_id, "Revista:", class:"form-label " %>
               <% end %>    
        
        </div>
        <div class="col-md-6 d-flex justify-content-start">
            <div class="col"> 
               <% if tipo == 'C' %> 
                    <% if @parts[2] == 'JCR' %> 
                        <%= artc.select :revista_id, Revista.where(estado:'A', tiporevista:'J').order(:nomrevista).map{|r| [r.nomrevista.upcase, r.id] },{ include_blank: true}, {class:"form-control", placeholder:'Escriba el nombre de la revista...', data:{controller:'ts--selectrev'}}  %>
                    <% end %>
                    <% if @parts[2] == 'CONACYT' %> 
                        <%= artc.select :revista_id, Revista.where(estado:'A', tiporevista:'Y').order(:nomrevista).map{|r| [r.nomrevista.upcase, r.id] },{ include_blank: true}, {class:"form-control", placeholder:'Escriba el nombre de la revista...', data:{controller:'ts--selectrev'}}  %>
                    <% end %>
                    <% if @parts[2] == 'OTROS' %> 
                        <%= artc.select :revista_id, Revista.where(estado:'A', tiporevista:'O').order(:nomrevista).map{|r| [r.nomrevista.upcase, r.id] },{ include_blank: true}, {class:"form-control", placeholder:'Escriba el nombre de la revista...', data:{controller:'ts--selectrev'}}  %>
                    <% end %> 
                <% end %>
                <% if tipo == 'D' %> 
                        <%= artc.select :revista_id, Revista.where(estado:'A', tiporevista:'D').order(:nomrevista).map{|r| [r.nomrevista.upcase, r.id] },{ include_blank: true}, {class:" form-control", placeholder:'Escriba el nombre de la revista...', data:{controller:'ts--selectrev'}}  %>
                <% end %>
                <% if tipo == 'P' %> 
                        <%= artc.select :revista_id, Revista.where(tiporevista:'P',estado:'A').order(:nomrevista).map{|r| [r.nomrevista.downcase.capitalize, r.id] },{ include_blank: true}, {class:" form-control", placeholder:'Escriba el nombre del periodico...', data:{controller:'ts--selectrev'}} %>
                <% end %>
            </div>    

            <div class="col d-flex align-items-center justify-content-center" data-action="click->modalcap#launchModal" data-modalcap-src-param="rev" data-modalcap-prod-param="<%= @producto.id %>" >
               <div class="cursor-pointer text-primary"><i class="fa-solid fa-plus"></i> 
                       <%=  'Registrar nueva revista...' if tipo == 'C' %>
                       <%=  'Registrar nueva revista...' if tipo == 'D' %>
                       <%=  'Registrar nuevo periodico...' if tipo == 'P' %>
               </div>
            </div>

        </div>
 </div> 