
  <div class="mb-3 col-4">
      


      <% if tipo == 'C' %> 
         <%= artc.label :revista_id, "Revista:", class:"form-label"  %>
         <%= artc.select :revista_id, Revista.where(estado:'A', tiporevista:'J').order(:nomrevista).map{|r| [r.nomrevista.upcase, r.id] },{ include_blank: true}, {class:"form-control", data:{controller:'ts--selectrev'}}  %>
      <% end %>
      <% if tipo == 'D' %> 
         <%= artc.label :revista_id, "Revista:", class:"form-label"  %>
         <%= artc.select :revista_id, Revista.where(estado:'A').order(:nomrevista).map{|r| [r.nomrevista.upcase, r.id] },{ include_blank: true}, {class:" form-control", data:{controller:'ts--selectrev'}}  %>
      <% end %>
       <% if tipo == 'P' %> 
         <%= artc.label :revista_id, "Periodico:", class:"form-label"  %>
         <%= artc.select :revista_id, Revista.where(tiporevista:'P',estado:'A').order(:nomrevista).map{|r| [r.nomrevista.downcase.capitalize, r.id] },{ include_blank: true}, {class:" form-control", data:{controller:'ts--selectrev'}} %>
      <% end %>
  </div>