
<div class="container mt-md-3">
 
   <h5> <%= @producto.descripcion %> </h5>  

   <div class="card">
      <div class="card-body">
         <%= render "form_art", actividad:@actividad if @parts[0] == 'ART' %>
         <%= render "form_libro", actividad:@actividad if @parts[0] == 'LIBRO' %>
         <%= render "form_capitulo", actividad:@actividad if @parts[0] == 'CAPITULO' %>
         <%= render "form_flora", actividad:@actividad if @parts[0] == 'FLORA' %>
         <%= render "form_patente", actividad:@actividad if @parts[0] == 'PATENTE' %>
         <%= render "form_editor", actividad:@actividad if @parts[0] == 'EDITOR' %>
         <%= render "form_odivulga", actividad:@actividad if @parts[0] == 'ODIV' %>
         <%= render "form_vinculapp", actividad:@actividad if @parts[0] == 'VINCULAPP' %>
         <%= render "form_vinculasp", actividad:@actividad if @parts[0] == 'VINCULASP' %>
         <%= render "form_adicional", actividad:@actividad if @producto.prodgrupo.clave == 'ACTIVIDAD' %>
         <%= render "form_curso", actividad:@actividad if @producto.prodgrupo.clave == 'CUR' %>
         <%= render "form_tesis", actividad:@actividad if @producto.prodgrupo.clave == 'TESIS' %>
         <%= render "form_proyecto", actividad:@actividad if @producto.prodgrupo.clave == 'PROY' %>
      </div>  
   </div>
</div>  

<script>
$('body').on('keypress','.porcentaje', function(evt){
    var $txtBox = $(this);
         var charCode = (evt.which) ? evt.which : evt.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
             return false;
         else {
             var len = $txtBox.val().length;
             var index = $txtBox.val().indexOf('.');
             if (index > 0 && charCode == 46) {
               return false;
             }
             if (index > 0) {
                 var charAfterdot = (len + 1) - index;
                 if (charAfterdot > 3) {
                     return false;
                 }
             }
         }
         return $txtBox;
  }); 


$( "form#proyectos" ).submit(function( event ) {
     var sumaPorc = sumporc();
     
     if ( sumaPorc != 100.00 ){
          alert("La suma de los porcentajes de participación debe ser 100");
          return false;
     }else{
         return true;   
    }
     
});

 function sumporc(){
    var totalp = 0;
    $(".porcentaje").each(function(){
          if(!isNaN(this.value) && this.value.length!=0) {
              totalp += parseFloat(this.value);
           }
    });
    total = totalp.toFixed(2);
    return total;
}

</script>