
<div class="card">

   <div class="card-body">
         <h5>Producción 2021</h5>

         <table class="table table-sm ">
              <thead>
                  
                  <tr >
                      <th scope="col" style="width: 5%"><div class="d-flex justify-content-center">Folio</div></th>
                      <th scope="col" style="width: 20%"><div class="d-flex justify-content-center"> Producto</div></th>
                      <th scope="col" style="width: 9%"></th>
                      <th scope="col" style="width: 45%"><div class="d-flex justify-content-center"> Título</div></th>
                      
                      <th scope="col" style="width: 9%"><div class="d-flex justify-content-center"> Vo.Bo.</div></th>
                      <th scope="col" style="width: 5%"><div class="d-flex justify-content-center"> Coor. Red</div></th>
                      <th scope="col" style="width: 6%"><div class="d-flex justify-content-center"> Sec. Acad</div></th>
                  </tr>
              </thead>

              <tbody>
                 
                  <% @actividades.each do |a| %>
                     <tr>
                         <td> <div class="d-flex justify-content-center"> <%= a.id %> </div> </td>
                         <td> <span class="d-inline-block" data-toggle="tooltip" data-placement="top" title="<%= a.producto.descripcion %>"><%= a.producto.descripcion %></span> </td>
                         <td>
                                <%= render "actividades/actividades/show/attached", a:a %>
                         </td>
                         <td> <div class="d-flex justify-content-left"> 
                                   <%= link_to a.titulo, actividades_actividad_path(a.id), data:{turbolinks:false}, class:"text-primary" %>
                              </div>     
                              <% if a.estado == 'G' %>
                                    <div class="d-flex justify-content-left alert alert-danger" role="alert">
                                       <small><%=  mensaje_txt(a.id) %>
                                            <strong>Vaya al siguiente link para corregir:  <%= link_to "Corregir", edit_actividades_actividad_path(a.id) %></strong>
                                       </small> 
                                             
                                    </div>
                              <% end %>   
                         </td>
                         
                         <td id="actividad<%= a.id %>">
                           <div class="d-flex justify-content-center"> 
                                <% if a.estado == 'A' %>
                                    <%= link_to validar_path(a,'user'), remote:true, class:'text-muted', data:{confirm:"¿Desea validar el registro? Al aceptar no podrá hacer cambios. Asegurarse de la correcta categorización, ver Cap VIII, 8.IV lineamientos", disabled_with: "Enviando.."} do %>
                                        <i class="fas fa-check-circle text-warning"></i> <span>Validar</span>
                                    <% end %>
                                <% else %> 
                                        <i class="fas fa-check-double text-success"></i>
                                <% end %>   
                            </div>    
                         </td>
                         
                         <%= render "navs/col_validacion", activ:a %>
                        
                     <tr> 
                  <% end %>
              </tbody>

         </table> 

   </div>

</div>

