
<%= form_with url: tipoinst_path, local:true do |form| %>
   <table>    
      <tr> 
          <td><%= form.select :tipo, Tipodivulgacion.all.map { |t| [t.nomtipodivulgacion, t.id] }, prompt: '--Seleccione--', class:'form-select' %></td>
          <td> <button type="submit"> Aceptar </button></td>
      </tr>
   </table>   
      
<% end %>

<table class="table table-striped table-sm mt-5">
   <thead>
          <tr>
               <th>FOLIO</th>
               <th>TITULO</th>
               <th>ESTADO</th>
               <th>RESPONSABLE</th>
               <th></th>
               <td></th>
          </tr>
   </thead>

   <tbody>
       <% @actividades.each do |act| 
          resp = Persona.find(act.personaid)
       %>
              <tr> 
                   <td> <%= act.id %> </td>
                   <td><span class="text-primary"> <%= act.titulo %> </span>
                        <div> <%= citaConIdentificacion(act.id).html_safe %>  </div>
                   </td>
                   <td id="act<%= act.id %>"> 
                              <% if act.estado == 'X' %>
                                     <div class='text-danger'>Eliminado</div>
                              <% else %>
                                      <%= act.estado %>
                              <% end %>        
                  </td>
                   <td> <%= (resp.nombre||'') + ' ' + (resp.paterno||'')  + (resp.materno||'')  %> </td> 
                   <td>  
                           <% if act.documentos.attached? %> 
                              <% act.documentos.each do |d|%>
                                       <%= link_to d.filename, rails_blob_path(d, disposition: "inline"), { target: '_blank', class:'text-success' } %>
                              <% end %>   
                           <% end %>
                   </td>
                   <td>
                        <%= link_to "Eliminar", bajainst_path(act.id, @tipo_act), remote:true, data: {confirm: 'Desea eliminar el registro?'} %>
                   </td>
              </tr>
       <% end %>
   </tbody>

<table>