
<div class="container mt-md-3">
   <div class="row">
      <div class="col">
        <h5> <%= @producto.descripcion %> </h5>  
      </div>  
   </div>
   <div class="row">
      <div class="col">
          <%= render "navs/menu_prod" %>  
      </div>  
   </div> 
   <div class="card">
      <div class="card-body">
         <% if @actividad.estado == 'D' %> 
                <div class="alert alert-danger" role="alert"><%=  @actividad.valetapas.where(activo:'SI').first.txtmensaje   %></div>
         <% end %>     
         <%= render "actividades/actividades/show/form_art", actividad:@actividad if @parts[0] == 'ART' %>
         <%= render "actividades/actividades/show/form_libro", actividad:@actividad if @parts[0] == 'LIBRO' %>
         <%= render "actividades/actividades/show/form_capitulo", actividad:@actividad if @parts[0] == 'CAPITULO' %>
         <%= render "actividades/actividades/show/form_flora", actividad:@actividad if @parts[0] == 'FLORA' %>
         <%= render "actividades/actividades/show/form_patente", actividad:@actividad if @parts[0] == 'PATENTE' %>
         <%= render "actividades/actividades/show/form_editor", actividad:@actividad if @parts[0] == 'EDITOR' %>
         <%= render "actividades/actividades/show/form_odivulga", actividad:@actividad if @parts[0] == 'ODIV' %>
         <%= render "actividades/actividades/show/form_vinculapp", actividad:@actividad if @parts[0] == 'VINCULAPP' %>
         <%= render "actividades/actividades/show/form_vinculasp", actividad:@actividad if @parts[0] == 'VINCULASP' %>
         <%= render "actividades/actividades/show/form_adicional", actividad:@actividad if @producto.prodgrupo.clave == 'ACTIVIDAD' %>
         <%= render "actividades/actividades/show/form_curso", actividad:@actividad if @producto.prodgrupo.clave == 'CUR' %>
         <%= render "actividades/actividades/show/form_tesis", actividad:@actividad if @producto.prodgrupo.clave == 'TESIS' %>
      </div>  
   </div>
</div> 
