
<div class='ml-md-3 mb-md-5'>

   <%= form_with(model: actividad, local:false) do |form|  %>
       <%= form.hidden_field :producto_id, value: 22 %> 
       <input type="hidden" name="captipo" value="<%= current_usuario.rol %>">
       <%= form.hidden_field :estado, value:'A' %>
       <%= form.hidden_field :personaid, value:current_usuario.persona_id %> 
       <%= form.hidden_field :fuente, value:current_usuario.rol %> 
       <%= form.hidden_field :periodo, value:2021 %> 

       <div class="form-group">
            <%= form.label :titulo, 'Título', class:'titulo text-muted' %>
            <%= form.text_field :titulo, class:"form-control" %> 
       </div>
       

       <%= form.fields_for :divulgacion do |divulgacion| %>
            <div class="form-row">
               <div class="col-4">
                    <%=  divulgacion.label :tipodivulgacion_id, "Tipo de actividad:", class:'tipodivulgacion_id text-muted' %>
                    <%=  divulgacion.select :tipodivulgacion_id, Tipodivulgacion.all.pluck(:nomtipodivulgacion,:id), { :include_blank=>'- Seleccione una opcion -'},{class:"form-control"} %>
                </div>
            </div>    
       <% end %> 
  
       <div class="row mt-md-3">
            <div class="col comprobante text-muted">Comprobante</div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <% if actividad.enlacedoc.attached? %>
                            <div class="row">
                                <div class="col-6">   <%= link_to actividad.enlacedoc.filename, rails_blob_path(actividad.enlacedoc, disposition: 'attachment', target: '_blank') %></div>
                                <div class="col"><%= form.file_field :tesisdoc, class:"form-control" %></div>
                            </div>   
                        <% else %> 
                            <%= form.file_field :enlacedoc, class:"form-control col-8" %> 
                        <% end %>  
                    </div>        
                </div>  
        </div>

       <div class="card">
        <div class="card-body">
            <div class="card-header participantes text-muted">Participantes</div>
              <div class="card-body">
                <div data-controller="nested-form">
                    <template data-target='nested-form.template'>
                            <%= form.fields_for :autores, Autor.new, child_index: 'TEMPLATE_RECORD' do |autor| %>
                                <%= render 'autor_fields', form: autor %>
                            <% end %>
                    </template> 
            
                        <%= form.fields_for :autores do |autor| %>
                                <%= render 'autor_fields', form: autor %>
                        <% end %>
                
                        <div data-target="nested-form.add_item">
                          <i class="fas fa-user-plus"></i> <%= link_to "Agregar participante", "#", data: { action: "nested-form#add_association" } %>
                        </div>
                
                </div>
              </div>  
        </div>   
       </div>

       <div class="actions">
          <%= form.submit "Guardar información", data: { confirm: '¿Desea continuar?' }, class:"btn btn-success" %>
       </div>

   <% end %>

</div>
