<div class="row mb-md-2">
    <div class="col-md-1">
        <%= link_to divulgaciones_path do %>
            <i class="fas fa-long-arrow-alt-left"></i> Regresar
        <% end%>
    </div>  
     <% if current_usuario.evaluador != 'V' %>
         <% if @actividad.estado == 'U' %>
            <div class="col-md-2">
                <%= link_to edit_divulgacion_path(@actividad.id) do %>
                   <i class="fas fa-edit"></i> Editar
                <% end%>
            </div> 
         <% else %> 
                 <% if @actividad.estado == 'C' || @actividad.estado == 'S' %>
                       <i class="fas fa-check-double text-success"></i> <span class="text-success">Producto validado por la Oficina de Enlace</span>  
                 <% end %>    
          <% end %>
     <% end %>  
     <% if current_usuario.evaluador == 'V' %> 
        <div class="col-md-3" id="actividad<%= @actividad.id %>">
                <% if @actividad.estado == 'U' %>
                        <%= link_to validar_path(@actividad,'coor'), remote:true, data:{confirm:"¿Desea validar el registro? Asegurarse de la correcta categorización, ver Cap VIII, 8.IV lineamientos", disabled_with: "Enviando.."} do %>
                            <i class="fas fa-check-circle text-warning"></i><small> Validar</small>
                        <% end %>
                <% end %>
                <% if @actividad.estado == 'C' %>
                            <i class="fas fa-check-double text-success"></i> <span class="text-success">Producto validado</span>
                <% end %>
        </div> 
    <% end %>  
</div>
<div class="card">            
   <div class="card-body">        
            

            <div class="col">
                <strong>Titulo:</strong> <%= @actividad.titulo %>
            </div>
            
            <div class="col  mt-md-2">
                <strong>Tipo de actividad:</strong> <%= @actividad.divulgacion.tipodivulgacion.nomtipodivulgacion %>
            </div>
            
            <div class="col  mt-md-2">
            <strong>Comprobante:</strong>
            <% if @actividad.documentos.attached? %>
                 <div class="col-6">  
                         <% @actividad.documentos.each do |d|%>
                                            <div id="doc<%= d.id %>">
                                                <%= link_to d.filename, rails_blob_path(d, disposition: "attachment"), { target: '_blank' } %>
                                            </div>
                         <% end %>      
                  
                  </div>
            <% else %>
                    <I>Sin comprobante</I>
            <% end %>   
            </div>

            <div clas="row mt-md-3">
              <div class="col">  
                    <table class="table mt-md-3">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Participación</th>
                                

                            </tr>   
                        </thead>
                        <tbody>
                                <% @actividad.autores.order(:id).each do |a| %>
                                    <tr>
                                    <td> 
                                        <% if a.firma.present? %> 
                                            <%= a.firma %> 
                                        <% else %>
                                            <%= (a.persona.paterno||'') + " " + (a.persona.materno||'') + " " + (a.persona.nombre||'') %> 
                                        <% end %>
                                    </td>
                                    <td> <%= a.rol.nomrol %> </td>
                                    
                                    </tr>   
                                
                                <% end %>
                        </tbody>
                    </table>
                </div>    
            </div>
  </div>           
</div>            