<script src="https://surveyjs.azureedge.net/1.1.24/survey.jquery.min.js"></script>

<div class="card">
 <div class="card-body">
  <% if current_usuario.rol == 'T' %>
     <i class="fas fa-arrow-left"></i>&nbsp;<%= link_to("Regresar", evaltecnico_path, data: {turbolinks:false} ) %>&nbsp
  <% else %>
    <i class="fas fa-arrow-left"></i>&nbsp;<%= link_to("Regresar", evaltecnico_path, data: {turbolinks:false} ) %>&nbsp
  <% end %>
</div> 
</div> 



<div class="d-flex p-2">
  <div class="card">
     <div class="card-body">
        <b>Técnico:</b> <%= (@academico.persona.paterno||'')+" "+(@academico.persona.materno)+" "+(@academico.persona.nombre) %>
        <br>
        <b>Actividad:</b> <%= @sustantiva.descripcion %> <b>(<%= @sustantiva.porcentaje %>%)</b>
        <br>
        
     </div>
  </div>
</div>
   <% if @tipo == 'C'%>
      <b>Cuestionario de Calidad</b>
   <% end %>
   <% if @tipo == 'C'%>
      <%= render partial: "listado/calidad", layout: "crud/layout" %>
   <% end %>
   <% if @tipo == 'E'%>
      <b>Cuestionario de Eficiencia</b>
   <% end %>
   <% if @tipo == 'E'%>
      <%= render partial: "listado/eficiencia", layout: "crud/layout" %>
   <% end %>