<div class="d-flex p-2">
  <div class="card">
     <div class="card-body">

       <% if  current_usuario.rol == 'C' %>
             <div class="col-md-4"> <i class="fas fa-long-arrow-alt-left"></i>&nbsp; <%= link_to("Regresar", validared_path,  data:{turbolinks:false}) %></div>
             <div class="col-md-6 ml-auto">
              <% if @actividad.estado == 'U' %> 
                <%= link_to coordinaval_path(@actividad.id,'C'), remote:true, data:{confirm:'El registro se marcará como validado por la coordinacón de red, ¿desea continuar?'} do %>  
                    <i class="fas fa-check-double fa-2x text-primary"></i> Validar
                <% end %>  
                &nbsp;&nbsp;&nbsp;
                <%= link_to coordinacorregir_path(@actividad.id,'C') do %>  
                    <i class="fas fa-undo fa-2x text-primary"></i> Enviar a corrección
                <% end %>  
                &nbsp;&nbsp;&nbsp;
                <%= link_to coordinacorregir_path(@actividad.id,'N') do %>  
                    <i class="fas fa-file-excel fa-2x text-primary"></i> No considerar
                <% end %>  
              <% end %> 
              <% if @actividad.estado == 'C' %> 
                  <div style="font-size:1.5em">
                     <i class="fas fa-check-double text-success"></i> Registro validado por la Coordinación de red-
                  </div> 
                  <div>
                     <I><%= link_to "Anular validación", anularcoor_path(@actividad.id), remote:true, data:{confirm:'El registro será habilitado para validación, ¿desea continuar?'} %></I>
                  </div>
              <% end %>
              <% if @actividad.estado == 'S' %> 
                  <div style="font-size:1.5em">
                     <i class="fas fa-check-double text-success"></i> Registro validado por la Secretaría Académica
                  </div> 
              <% end %>
              <% if @actividad.estado == 'G' %> 
                  <div style="font-size:1.5em">
                     <span style="color:#EA5838;">Registro activado para correcciones.</span>
                  </div> 
                  <div style="font-size:1em">
                     <%
                        @msg = Mensaje.where(:actividad_id=>@actividad.id).where(:tipo=>'C').first
                     %>
                     <span style="color:#EA5838;"><%= @msg.txt %></span>
                  </div> 
              <% end %>
              <% if @actividad.estado == 'D' %> 
                  <div style="font-size:1.5em">
                     <span style="color:#EA5838;">Registro no considerado.</span>
                  </div> 
                  <div style="font-size:1em">
                     <%
                        @msg = Mensaje.where(:actividad_id=>@actividad.id).where(:tipo=>'N').first
                     %>
                     <span style="color:#EA5838;"><%= @msg.txt %></span>
                  </div> 
              <% end %>

             </div>
          
       
       <% else %>
          <i class="fas fa-home"></i>&nbsp;<%= link_to("Inicio", investigador_path, data: {turbolinks:false} ) %>&nbsp
          <i class="fas fa-layer-group"></i>&nbsp;<%= link_to("Listado de productos", actividades_path, data: {turbolinks:false} ) %>
       <% end %>
      
        <% if flash[:notice] %>
            <strong><%= content_tag :div, flash[:notice], class: "text-success" %></strong>
        <% end %>
        <% if @producto.prodgrupo.clave == 'ART' || @producto.prodgrupo.clave == 'PERIODICO' %>
                 <%= render partial: "crud/actividad/frm_actividad", layout: "crud/layout" %>
        <% end %>  
        <% if @producto.prodgrupo.clave == 'LIB' %>
            <%= render partial: "crud/actividad/frm_libro", layout: "crud/layout" %>
        <% end %>
        <% if @producto.prodgrupo.clave == 'CAP' %>
            <%= render partial: "crud/actividad/frm_capitulo", layout: "crud/layout" %>
        <% end %>
        <% if @producto.prodgrupo.clave == 'CUR' %>
            <%= render partial: "crud/actividad/frm_curso", layout: "crud/layout" %>
        <% end %>
        <% if @producto.prodgrupo.clave == 'TESIS' %>
            <%= render partial: "crud/actividad/frm_tesis", layout: "crud/layout" %>
        <% end %>
        <% if @producto.prodgrupo.clave == 'EDREV' || @producto.prodgrupo.clave == 'EDLIB' %>
            <%= render partial: "crud/actividad/frm_editor", layout: "crud/layout" %>
        <% end %>
        <% if @producto.prodgrupo.clave == 'INT' || @producto.prodgrupo.clave == 'IND' %>
            <%= render partial: "crud/actividad/frm_patente", layout: "crud/layout" %>
        <% end %>
        <% if @producto.prodgrupo.clave == 'VINSP' %>
            <%= render partial: "crud/actividad/frm_vinculasp", layout: "crud/layout" %>
        <% end %>
        <% if @producto.prodgrupo.clave == 'VINPP' %>
            <%= render partial: "crud/actividad/frm_vinculapp", layout: "crud/layout" %>
        <% end %>

        <% if @producto.prodgrupo.clave == 'DECRETO' || @producto.prodgrupo.clave == 'ORDENAMIENTO' || @producto.prodgrupo.clave == 'INICIATIVA' || @producto.prodgrupo.clave == 'REGLA' || @producto.prodgrupo.clave == 'COMITE' %>
            <%= render partial: "crud/actividad/frm_vinculapp", layout: "crud/layout" %>
        <% end %>

        <% if @producto.prodgrupo.clave == 'OTRASD' %>
            <%= render partial: "crud/actividad/frm_odivulga", layout: "crud/layout" %>
        <% end %> 

        <% if @producto.prodgrupo.clave == 'FASC' %>
             <%= render partial: "crud/actividad/frm_fasciculo", layout: "crud/layout" %>
        <% end %>

        <% if @producto.prodgrupo.clave == 'ACTIVIDAD' %>
            <%= render partial: "crud/actividad/frm_simple", layout: "crud/layout" %>
        <% end %>
         <% if @producto.prodgrupo.clave == 'PROY' %>
            <%= render partial: "crud/actividad/frm_proyecto", layout: "crud/layout" %>
        <% end %>

     </div>
  </div>      
</div>  





<script>

$(document).on("turbolinks:load", function(){
      $(".selectize").selectize();
})

function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    // find the new_ + "association" that was defined in Rails helper
    var regexp = new RegExp("new_" + association, "g");
  
    // find the container and append in the sub field content
    //$(link).prev().append(content.replace(regexp, new_id));
    $("#autoresl").append(content.replace(regexp, new_id));
    $(".ui-state-default").last().css( "background-color", "#FFFFA5" );
    ordenar(); 
    return false;
  }
function removeField(link) {
  $(link).prev("input[type=hidden]").val("1");
  $(link).closest(".form-row").fadeOut();
  ordenar();
}

function ordenar(){
   var i =1;  
      $( ".orden" ).each(
       function(){
        var iddestroy = this.id.replace("posicion","_destroy") 
        if ( $("#"+iddestroy).val()!= '1' ){
           this.value=i;
           i++;
         }
       }
     );
}

</script>
