<div class="row mt-md-3">
    <div class="col-4">
      Fecha publicacón: <%= !@actividad.fechapub.blank? ? @actividad.fechapub : 'N/A'  %>
    </div> 
    <div class="col-2">
      Volumen: <%= !@actividad.articulo.volumen.blank? ? @actividad.articulo.volumen : 'N/A'  %>
    </div>   
    <div class="col-2">
      Número: <%= !@actividad.articulo.issue.blank? ? @actividad.articulo.issue : 'N/A'  %>
    </div>
    <div class="col-3">
      Pg inicial: <%= !@actividad.articulo.pgini.blank? ? @actividad.articulo.pgini : 'N/A'  %>
    </div>
    <div class="col-3">
      Pg final: <%= !@actividad.articulo.pgfin.blank? ? @actividad.articulo.pgfin : 'N/A'  %>
    </div>
    
</div>

<div class="row mt-md-3">
  <div class="col">
      Revista: <%= @actividad.articulo.revista.nomrevista  %>
    </div>
</div>

<div class="row mt-md-3">
   <div class="col">
     <%= render "actividades/actividades/show/comprobante", actividad:@actividad %>
   </div> 
</div>