        
            <div class="row">
                <div class="mb-3 col-md-9">
                    <label class="font-weight-bold">Título del libro:</label>
                    <div><%= @actividad.titulo %></div>
                </div>  
                <div class="mb-3 col-md-3">
                    <label class="font-weight-bold">Año de publicacion:</label>
                    <div><%= @actividad.anio %></div>
                </div>  
            </div>   
            <div class="row">
                        <div class="mb-3 col-md-3">
                            <label class="font-weight-bold">Número de páginas:</label>
                            <div><%= @actividad.libroarbitrado.nopaginas %></div>
                        </div>    
                        <div class="mb-3 col-md-3">
                            <label class="font-weight-bold">Idioma:</label>
                            <div><%= @actividad.libroarbitrado.idioma.nomidioma %></div>
                        </div> 
                        <div class="mb-3 col-md-3">
                            <label class="font-weight-bold">ISBN:</label>
                            <div><%= @actividad.libroarbitrado.isbn %></div>
                        </div> 
            </div>
            