<div class="w-75">
    <div class="col"> 
              <div class="d-flex justify-content-center p-3 fw-bold text-center item" style="font-size:15px;">Menu de usuario</div>
              <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to actividades_actividades_path, style:'text-decoration: none;' do %>
                              <i class="fa-solid fa-house-chimney-user"></i> Inicio
                          <% end %>   
              </div>
                   
              <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to actividades_catalogos_path, style:'text-decoration: none;' do %>
                                <i class="fa-regular fa-file-lines"></i> Nuevo...
                          <% end %>  
              </div>
                   
             
              <div class="d-flex justify-content-start border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body  item" >
                 <div class="accordion col-12" id="accordionExample">
                      <div class="col-12">
                              
                                    <div class="accordion-button collapsed d-flex justify-content-start p-2  fw-bold item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          <%= link_to actividades_actividades_path, style:'text-decoration: none;' do %>
                                                <i class="fa-solid fa-clock-rotate-left"></i> Históricos
                                          <% end %>  
                                    </div>
                              
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body col">
                                        <div>
                                          <%= link_to datahistory_path(2021), data:{turbolinks:false} do %>
                                                <i class="fas fa-th-list"></i> Periodo 2021
                                          <% end %> 
                                        </div>  
                                        <div>
                                          <%= link_to datahistory_path(2020), data:{turbolinks:false} do %>
                                                <i class="fas fa-th-list"></i> Periodo 2020
                                          <% end %> 
                                        </div>  
                                        <div> 
                                           <%= link_to datahistory_path(2019), data:{turbolinks:false}  do %>
                                                <i class="fas fa-th-list"></i> Periodo 2019
                                          <% end %>       
                                        </div>
                                        <div>  
                                          <%= link_to histoconsultar_path, data:{turbolinks:false}  do %>
                                                      <i class="fas fa-th-list"></i> Periodo 2018
                                          <% end %>  
                                        </div>  
                                    </div>
                              </div>
                      </div>
                 </div>
             </div>    
             <% if current_usuario.rol == 'C' %> 
                        <div class="d-flex justify-content-center p-3 fw-bold text-center item" style="font-size:15px;">Coor. de red</div>  
                        <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                                    <%= link_to redesindex_path, style:'text-decoration: none;' do %>
                                          <i class="fa-solid fa-gears"></i> Validar
                                    <% end %>  
                        </div>
             <% end %>  
             <% if current_usuario.rol == 'Y' %> 
                        <div class="d-flex justify-content-center p-3 fw-bold text-center item" style="font-size:15px;">Captura</div>  
                        <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                                    <%= link_to validaindex_path(:tipo=>'A'), style:'text-decoration: none;', target:"_blank" do %>
                                          <i class="fas fa-users"></i><span> Evaluación 2022 </span>
                                    <% end %>            
                        </div>            
             <% end %>           

            <div class="d-flex justify-content-center p-3 fw-bold text-center item" style="font-size:15px;">Links</div>  

            <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to "https://inecol-my.sharepoint.com/:b:/g/personal/antonio_francisco_inecol_mx/Ec7rVnZjEsdJrltTf_GzYqcBv4tuAMe6swZ_pax3EIW8tw?e=Yhybci", target:"_blank", style:'text-decoration: none;' do %>
                                <i class="fa-solid fa-chart-gantt"></i> Presupuesto 
                          <% end %>  
            </div>
             <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to "http://normateca.inecol.edu.mx/normateca/documentos/0118.pdf", target:"_blank", style:'text-decoration: none;' do %>
                                <i class="fa-solid fa-file-circle-check"></i> Lineamientos
                          <% end %>  
            </div>


            <div class="d-flex justify-content-start mt-3 p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body fw-bold item" >
                          <%= link_to destroy_usuario_session_path, style:'text-decoration: none;' do %>
                                <i class="fa-solid fa-arrow-right-from-bracket"></i> Salir
                          <% end %>  
              </div>
    </div>  
</div>   