<div class="w-75" id="colmenu" data-controller="menuinv">
    <div class="col"> 
            <div class="d-flex justify-content-center p-3 fw-bold text-center item" >Menu de usuario</div>
              <div id="menuini" class="menuitem d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                          <%= link_to actividades_actividades_path, style:'text-decoration: none; color:#202124;' do %>
                              <i class="fa-solid fa-house-chimney-user " style="color: #5b5b5b ;"></i> Inicio
                          <% end %>   
              </div>
                   
              <div id="catalogos" class="menuitem d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                          <%= link_to actividades_catalogos_path, style:'text-decoration: none; color:#202124;' do %>
                                <i class="fa-regular fa-file-lines" style="color:#5b5b5b;"></i> Nuevo...
                          <% end %>  
              </div>

              

              <div id="evaltecnicos" class="menuitem d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                          <%= link_to evaluaciones_evaltecnicos_path, style:'text-decoration: none; color:#202124;' do %>
                                <i class="fa-solid fa-gears" style="color:#5b5b5b;"></i> Sustantivas
                          <% end %>  
              </div>
              <div class="d-flex justify-content-start border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body  item" >
                 <div class="accordion col-12" id="accordionExample">
                      <div class="col-12">
                              
                                    <div class="accordion-button collapsed d-flex justify-content-start p-2 item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreep" aria-expanded="false" aria-controls="collapseThreep">
                                          <%= link_to actividades_actividades_path, style:'text-decoration: none; color:#202124;' do %>
                                                <i class="fa-regular fa-circle-check" style="color:#5b5b5b;"></i> Puntos
                                          <% end %>  
                                    </div>
                              
                              <div id="collapseThreep" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body col">
                                       <div>
                                          <%= link_to puntos_path(:anio=>2022), style:'text-decoration: none; color:#202124;' do %>
                                               <i class="fa-solid fa-check"></i> Puntos 2022
                                          <% end %>  
                                        </div> 
                                    </div>
                              </div>
                      </div>
                 </div>
              </div>   
              <%  if Itemsustantiva.where(persona_id:current_usuario.persona_id).any? %>
                    <div class="d-flex justify-content-center p-3 fw-bold text-center item" >Técnicos</div>
                    <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                              <%= link_to evaluaciones_itemsustantivas_path, style:'text-decoration: none; color:#202124;' do %>
                                 <i class="fa-solid fa-spell-check" style="color:#5b5b5b;"></i> Evaluar
                              <% end %>   
                     </div> 
            <%  end %>
             
            <% if current_usuario.evaluador == 'C' || current_usuario.evaluador == 'A' ||  current_usuario.evaluador == 'E' %> 
                  <div class="d-flex justify-content-center p-3 fw-bold text-center item" >Validaciones</div>
                  <div id="menuini" class="menuitem d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                              <%= link_to validaciones_academicos_path(:tipo=>'T'), style:'text-decoration: none; color:#202124;' do %>
                                  <i class="fa-solid fa-users"  style="color: #5b5b5b ;"></i> Técnicos
                              <% end %>   
                  </div>
            <% end %> 

             <% if current_usuario.evaluador == 'B' || current_usuario.evaluador == 'A' || current_usuario.evaluador == 'E' %>
                   <!--
                    <div class="d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                             <%= link_to validaindex_path(:tipo=>'A'), target:"_blank", style:'text-decoration: none; color:#202124;' do %>
                                 <i class="fa-solid fa-spell-check" style="color:#5b5b5b;"></i> Investigadores
                              <% end %>   
                     </div> 
                   -->
                    <div id="menuini" class="menuitem d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                              <%= link_to validaciones_academicos_path(:tipo=>'I'), style:'text-decoration: none; color:#202124;' do %>
                                   <i class="fa-solid fa-spell-check" style="color:#5b5b5b;"></i> Investigadores
                              <% end %>   
                   </div>  
            <% end %>  
            <% if current_usuario.evaluador == 'A' %>
                        <div id="menuini" class="menuitem d-flex justify-content-start p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                                    <%= link_to institucionales_path, style:'text-decoration: none; color:#202124;' do %>
                                       <i class="fa-solid fa-spell-check" style="color:#5b5b5b;"></i> Casa Abierta
                                    <% end %>   
                        </div>  
            <% end %>   

            
             <div class="d-flex justify-content-start mt-3 p-2 border border-1 border-top-0 border-start-0 border-end-0 border-bottom border-body item" >
                          <%= link_to destroy_usuario_session_path, style:'text-decoration: none; color:#202124;' do %>
                                <i class="fa-solid fa-arrow-right-from-bracket" style="color:#5b5b5b;"></i> Salir
                         <% end %>  
             </div>

              
    </div>  
</div>   