<!DOCTYPE html>
<html>
  <head>
    <title>INECOL::Sistema de Producción Académica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'sesion', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
 
  </head>

  <body>
      
        <div class="grid">
         <!--  
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
             
              <div class="collapse navbar-collapse align-items-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%=  @usuario_nom %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div class="dropdown-divider"></div>
                      <%= link_to('Salir', destroy_usuario_session_path, class:"dropdown-item") %>
                    </div>
                  </li>
                  
                </ul>
                
              </div>
             </nav> -->

    <aside class="sidenav">
        
        <div class="w-50 mx-auto">
         <%= image_pack_tag 'logo100_White.png', class:"card-img-top img-fluid" %>
         <%=  @usuario_nom %>
         
        </div> 
        
       
        <div class="row row--align-v-center row--align-h-center">
          <ul class="navList">
            <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fas fa-home fa-2x"></i></span>
                   <span class="navList__subheading-title"><%= link_to("Inicio", investigador_path, data: {turbolinks:false}) %></span>
                </div> 
            </li>
            
            <li>
             <div class="navList__subheading row row--align-v-center">
                <span class="navList__subheading-icon"><i class="fas fa-layer-group fa-2x"></i></span>
                <span class="navList__subheading-title">Producción</span>
            </div> 
              <ul class="subList subList--hidden">
                <!--
                   <li class="subList__item"><%= link_to("Nuevo..", producto_path(0), data:{turbolinks:false}) %></li>
                -->   
                <li class="subList__item"><%= link_to("Ver registros..", actividades_path, data:{turbolinks:false}) %></li>
              </ul>
            </li>
            <% if   current_usuario.rol == 'C' %>
                <li>
                  <div class="navList__subheading row row--align-v-center">
                    <span class="navList__subheading-icon"><i class="fas fa-align-justify fa-2x"></i></span>
                    <span class="navList__subheading-title"><%= link_to("Productos por red", validared_path) %></span>
                  </div> 
                </li>
            
          <% end %>  


            <li>
             <div class="navList__subheading row row--align-v-center">
                <span class="navList__subheading-icon"><i class="fas fa-history fa-2x"></i></span>
                <span class="navList__subheading-title">Histórico</span>
            </div> 
              <ul class="subList subList--hidden">
                <li class="subList__item"> <%= link_to "2020", datahistory_path(2020), data:{turbolinks:false} %></li>
                <li class="subList__item"> <%= link_to "2019", datahistory_path(2019), data:{turbolinks:false} %></li>
                <% if current_usuario.rol == "I" || current_usuario.rol == "C" %> 
                    <li class="subList__item"><%= link_to("2018", histoconsultar_path, data:{turbolinks:false}) %></li>
                <% else %> 
                   <li class="subList__item"><%= link_to("2018", historico_path(2018), data:{turbolinks:false}) %></li>
                <% end %>  
              
                <li class="subList__item"><%= link_to("2017", datahistorico_path, data:{turbolinks:false}) %></li>
              </ul>
            </li>
           <% if current_usuario.persona_id.to_i == 210 %>
            <li>
             <div class="navList__subheading row row--align-v-center">
                <span class="navList__subheading-icon"><i class="fas fa-tachometer-alt fa-2x"></i></span>
                <span class="navList__subheading-title">Indicadores</span>
            </div> 
              <ul class="subList subList--hidden">
                <li class="subList__item"><%= link_to("CART", indicador_path, data:{turbolinks:false}) %></li>
                <li class="subList__item"><%= link_to("ListaWord", listaword_path, data:{turbolinks:false}) %></li>
              </ul>
            </li>
           <% end %> 
           <% if current_usuario.persona_id.to_i == 210 %>
           <hr>
            <li>
             <div class="navList__subheading row row--align-v-center">
                <span class="navList__subheading-icon"><i class="fas fa-list-alt fa-2x"></i></span>
                <span class="navList__subheading-title">Validaciones</span>
            </div> 
              <ul class="subList">
              <!--
                <li class="subList__item"><%= link_to("Consultar por Red", consultasa_path(0,0), data:{turbolinks:false}) %></li>
              -->  
                <li class="subList__item"><%= link_to("Invest. Red", listarredes_path) %></li>
                <li class="subList__item"><%= link_to("Invest. Todos",  listatodo_path) %></li>     
                
                <li class="subList__item"><%= link_to("Eval Tecnicos", listaevaltecnico_path, data:{turbolinks:false}) %></li>
                <li class="subList__item"><%= link_to("Tecnicos Todos",  listatodot_path) %></li>
                <li class="subList__item"><%= link_to("Agradecimientos",  mostrarprod_path) %></li>    
                    
              <!--
                <li class="subList__item"><%= link_to("Técnicos Actividades", tecnicoadetalle_path, data:{turbolinks:false}) %></li>
                <li class="subList__item"><%= link_to("Investigadores Activ.", investdetalle_path, data:{turbolinks:false}) %></li>
              -->  
              </ul>
            </li>
            <li>
               <div class="navList__subheading row row--align-v-center">
                <span class="navList__subheading-icon"><i class="fas fa-list-alt fa-2x"></i></span>
                <span class="navList__subheading-title">Documentos</span>
               </div>
               <ul class="subList">
                   <li class="subList__item"><%= link_to("Todos", mostrarcargas_path) %></li>
               </ul>
            </li>  
           <% end %> 
           <% if current_usuario.persona_id.to_i == 210 %>
            <li>
             <div class="navList__subheading row row--align-v-center">
                <span class="navList__subheading-icon"><i class="fas fa-user-clock fa-2x"></i></span>
                <span class="navList__subheading-title">Historicos</span>
            </div> 
              <ul class="subList subList--hidden">
                <li class="subList__item"><%= link_to("Consultar", histgeneral_path, target: "_blank", data:{turbolinks:false}) %></li>
              </ul>
            </li>
           <% end %> 
           
            
            <% if current_usuario.evaluador == "T" %> 

           <li>
            <div class="navList__subheading row row--align-v-center">
                <span class="navList__subheading-icon"><i class="fas fa-list-alt fa-2x"></i></span>
                <span class="navList__subheading-title">Eval. Tecnicos</span>
            </div> 
              <ul class="subList subList--hidden">
                <li class="subList__item"><%= link_to("Ver listado", revisarlistado_path, data:{turbolinks:false}) %></li>
              </ul>
            </li>

            <% end %>

           <li> 
              <div class="navList__subheading row row--align-v-center">
                 <span class="navList__subheading-icon"><i class="fas fa-sign-out-alt fa-2x"></i></span>
                 <span class="navList__subheading-title"><%= link_to('Salir', destroy_usuario_session_path, class:"nolink") %></span>
              </div>          
               
           </li>
        </ul>
        </div>
    </aside>

    <main class="main">
      
         <%= yield %>
        
    </main>

    <footer class="footer">
        <p>Secretaría Académica</p>
        <p>2021 Instituto de Ecología</p>
    </footer>
    </div>
  </body>
</html>